<app-title-bar
  title="المعرض"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
>

</app-title-bar>


<section class="section-lgx pbmit-sortable-yes pbmit-column-four">
  <div class="container-fluid">
    <div class="pbmit-sortable-list">
      <ul class="pbmit-sortable-list-ul">
        <li><a href="#" class="pbmit-sortable-link pbmit-selected" data-sortby="*">الجميع</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="cardiologist">طبيب القلب</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="dentist">طبيب أسنان</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="neurologist">طبيب الأعصاب</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="osteopaths">عظمية</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="physicians">الأطباء</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="surgeon">دكتور جراح</a></li>
      </ul>
    </div>
    <div class="pbmit-element-posts-wrapper row multi-columns-row">
      <article class="pbmit-portfolio-style-1 cardiologist col-md-6 col-lg-3">
        <div class="pbmit-video-gallery">
          <div class="pbmit-ihbox-style-3">
            <div class="pbmit-ihbox-headingicon d-flex align-items-center">
              <a class="pbmin-lightbox-video pbmin-lightbox-m-0-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8">
                <div class="pbmit-feature-wrapper-img">
                  <div class="pbmit-ihbox-wrapper">
                    <div class="pbmit-ihbox-icon-type-image pbmit-ihbox-icon-type-video">
                      <img src="/assets/images/project/project-img-01.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-video-wrapper pbmit-icon-type-icon ">
                      <i class="pbmit-xcare-icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="pbminfotech-box-video-content">
              <div class="pbminfotech-titlebox">
                <div class="pbmit-port-cat">
                  <a routerLink="/portfolio-grid-col-4" rel="tag">عظمية</a>
                </div>
                <h3 class="pbmit-video-title">
                  <a routerLink="/single-detail-style-01">تمدد الأوعية الدموية في البطن</a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 dentist col-md-6 col-lg-3">
        <div class="pbmit-video-gallery">
          <div class="pbmit-ihbox-style-3">
            <div class="pbmit-ihbox-headingicon d-flex align-items-center">
              <a class="pbmin-lightbox-video pbmin-lightbox-m-0-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8">
                <div class="pbmit-feature-wrapper-img">
                  <div class="pbmit-ihbox-wrapper">
                    <div class="pbmit-ihbox-icon-type-image pbmit-ihbox-icon-type-video">
                      <img src="/assets/images/project/project-img-01.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-video-wrapper pbmit-icon-type-icon ">
                      <i class="pbmit-xcare-icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="pbminfotech-box-video-content">
              <div class="pbminfotech-titlebox">
                <div class="pbmit-port-cat">
                  <a routerLink="/portfolio-grid-col-4" rel="tag">عظمية</a>
                </div>
                <h3 class="pbmit-video-title">
                  <a routerLink="/single-detail-style-01">تمدد الأوعية الدموية في البطن</a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 neurologist col-md-6 col-lg-3">
        <div class="pbmit-video-gallery">
          <div class="pbmit-ihbox-style-3">
            <div class="pbmit-ihbox-headingicon d-flex align-items-center">
              <a class="pbmin-lightbox-video pbmin-lightbox-m-0-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8">
                <div class="pbmit-feature-wrapper-img">
                  <div class="pbmit-ihbox-wrapper">
                    <div class="pbmit-ihbox-icon-type-image pbmit-ihbox-icon-type-video">
                      <img src="/assets/images/project/project-img-01.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-video-wrapper pbmit-icon-type-icon ">
                      <i class="pbmit-xcare-icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="pbminfotech-box-video-content">
              <div class="pbminfotech-titlebox">
                <div class="pbmit-port-cat">
                  <a routerLink="/portfolio-grid-col-4" rel="tag">عظمية</a>
                </div>
                <h3 class="pbmit-video-title">
                  <a routerLink="/single-detail-style-01">تمدد الأوعية الدموية في البطن</a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 osteopaths col-md-6 col-lg-3">
        <div class="pbmit-video-gallery">
          <div class="pbmit-ihbox-style-3">
            <div class="pbmit-ihbox-headingicon d-flex align-items-center">
              <a class="pbmin-lightbox-video pbmin-lightbox-m-0-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8">
                <div class="pbmit-feature-wrapper-img">
                  <div class="pbmit-ihbox-wrapper">
                    <div class="pbmit-ihbox-icon-type-image pbmit-ihbox-icon-type-video">
                      <img src="/assets/images/project/project-img-01.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-video-wrapper pbmit-icon-type-icon ">
                      <i class="pbmit-xcare-icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="pbminfotech-box-video-content">
              <div class="pbminfotech-titlebox">
                <div class="pbmit-port-cat">
                  <a routerLink="/portfolio-grid-col-4" rel="tag">عظمية</a>
                </div>
                <h3 class="pbmit-video-title">
                  <a routerLink="/single-detail-style-01">تمدد الأوعية الدموية في البطن</a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 physicians col-md-6 col-lg-3">
        <div class="pbmit-video-gallery">
          <div class="pbmit-ihbox-style-3">
            <div class="pbmit-ihbox-headingicon d-flex align-items-center">
              <a class="pbmin-lightbox-video pbmin-lightbox-m-0-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8">
                <div class="pbmit-feature-wrapper-img">
                  <div class="pbmit-ihbox-wrapper">
                    <div class="pbmit-ihbox-icon-type-image pbmit-ihbox-icon-type-video">
                      <img src="/assets/images/project/project-img-01.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-video-wrapper pbmit-icon-type-icon ">
                      <i class="pbmit-xcare-icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="pbminfotech-box-video-content">
              <div class="pbminfotech-titlebox">
                <div class="pbmit-port-cat">
                  <a routerLink="/portfolio-grid-col-4" rel="tag">عظمية</a>
                </div>
                <h3 class="pbmit-video-title">
                  <a routerLink="/single-detail-style-01">تمدد الأوعية الدموية في البطن</a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 surgeon col-md-6 col-lg-3">
        <div class="pbmit-video-gallery">
          <div class="pbmit-ihbox-style-3">
            <div class="pbmit-ihbox-headingicon d-flex align-items-center">
              <a class="pbmin-lightbox-video pbmin-lightbox-m-0-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8">
                <div class="pbmit-feature-wrapper-img">
                  <div class="pbmit-ihbox-wrapper">
                    <div class="pbmit-ihbox-icon-type-image pbmit-ihbox-icon-type-video">
                      <img src="/assets/images/project/project-img-01.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-video-wrapper pbmit-icon-type-icon ">
                      <i class="pbmit-xcare-icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="pbminfotech-box-video-content">
              <div class="pbminfotech-titlebox">
                <div class="pbmit-port-cat">
                  <a routerLink="/portfolio-grid-col-4" rel="tag">عظمية</a>
                </div>
                <h3 class="pbmit-video-title">
                  <a routerLink="/single-detail-style-01">تمدد الأوعية الدموية في البطن</a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 cardiologist col-md-6 col-lg-3">
        <div class="pbmit-video-gallery">
          <div class="pbmit-ihbox-style-3">
            <div class="pbmit-ihbox-headingicon d-flex align-items-center">
              <a class="pbmin-lightbox-video pbmin-lightbox-m-0-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8">
                <div class="pbmit-feature-wrapper-img">
                  <div class="pbmit-ihbox-wrapper">
                    <div class="pbmit-ihbox-icon-type-image pbmit-ihbox-icon-type-video">
                      <img src="/assets/images/project/project-img-01.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-video-wrapper pbmit-icon-type-icon ">
                      <i class="pbmit-xcare-icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="pbminfotech-box-video-content">
              <div class="pbminfotech-titlebox">
                <div class="pbmit-port-cat">
                  <a routerLink="/portfolio-grid-col-4" rel="tag">عظمية</a>
                </div>
                <h3 class="pbmit-video-title">
                  <a routerLink="/single-detail-style-01">تمدد الأوعية الدموية في البطن</a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 neurologist col-md-6 col-lg-3">
        <div class="pbmit-video-gallery">
          <div class="pbmit-ihbox-style-3">
            <div class="pbmit-ihbox-headingicon d-flex align-items-center">
              <a class="pbmin-lightbox-video pbmin-lightbox-m-0-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8">
                <div class="pbmit-feature-wrapper-img">
                  <div class="pbmit-ihbox-wrapper">
                    <div class="pbmit-ihbox-icon-type-image pbmit-ihbox-icon-type-video">
                      <img src="/assets/images/project/project-img-01.jpg" alt="">
                    </div>
                  </div>
                </div>
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-video-wrapper pbmit-icon-type-icon ">
                      <i class="pbmit-xcare-icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="pbminfotech-box-video-content">
              <div class="pbminfotech-titlebox">
                <div class="pbmit-port-cat">
                  <a routerLink="/portfolio-grid-col-4" rel="tag">عظمية</a>
                </div>
                <h3 class="pbmit-video-title">
                  <a routerLink="/single-detail-style-01">تمدد الأوعية الدموية في البطن</a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 surgeon col-md-6 col-lg-3">
        <div class="pbmit-video-gallery">
          <div class="pbmit-ihbox-style-3">
            <div class="pbmit-ihbox-headingicon d-flex align-items-center">
              <a class="pbmin-lightbox-video pbmin-lightbox-m-0-video" href="https://www.youtube.com/watch?v=SZEflIVnhH8">
                <div class="pbmit-feature-wrapper-img">
                  <div class="pbmit-ihbox-wrapper">
                    <div class="pbmit-ihbox-icon-type-image pbmit-ihbox-icon-type-video">
                      <img src="/assets/images/project/project-img-01.jpg" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-video-wrapper pbmit-icon-type-icon ">
                      <i class="pbmit-xcare-icon-play-button"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="pbminfotech-box-video-content">
              <div class="pbminfotech-titlebox">
                <div class="pbmit-port-cat">
                  <a routerLink="/portfolio-grid-col-4" rel="tag">عظمية</a>
                </div>
                <h3 class="pbmit-video-title">
                  <a routerLink="/single-detail-style-01">تمدد الأوعية الدموية في البطن</a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </article>
    </div>
  </div>
</section>
