<section class="our-service-eight">
  <div class="container">
    <div class="our-service-eight-area pbmit-bg-color-white">
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="our-service-eight-imgbox"></div>
        </div>
        <div class="col-md-12 col-xl-6">
          <div class="our-service-eight-rightbox">
            <div class="pbmit-heading-subheading animation-style3">
              <h4 class="pbmit-subtitle">خدمتنا</h4>
              <h2 class="pbmit-title-1">الخدمة المنزلية لك</h2>
              <div class="pbmit-heading-desc">هناك العديد من الاختلافات في مقاطع   المتاحة ، لكن الغالبية عانت من تغيير في شكل ما عن طريق الفكاهة المحقونة.</div>
            </div>
            <div class="accordion" id="accordionExample1">
              <div class="accordion-item active" id="headingOne1">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
													<span class="pbmit-accordion-icon pbmit-accordion-icon-right">
														<span class="pbmit-accordion-icon-closed">
															<i class="fa fa-angle-up"></i>
														</span>
														<span class="pbmit-accordion-icon-opened">
															<i class="fa fa-angle-down"></i>
														</span>
													</span>
                    <span class="pbmit-accordion-title">
														<span class="pbmit-global-color">01.</span>
														هل ما زلنا نقوم بجراحة القلب المفتوحة؟
													</span>
                  </button>
                </h2>
                <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1"
                     data-bs-parent="#accordionExample1">
                  <div class="accordion-body">
                    رعاية القلب والأطباء المتخصصين في المستشفى.إنهم يهتمون بالكامل وسهلة بإدارة عملية جراحية القلب.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo1">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
													<span class="pbmit-accordion-icon pbmit-accordion-icon-right">
														<span class="pbmit-accordion-icon-closed">
															<i class="fa fa-angle-up"></i>
														</span>
														<span class="pbmit-accordion-icon-opened">
															<i class="fa fa-angle-down"></i>
														</span>
													</span>
                    <span class="pbmit-accordion-title">
														<span class="pbmit-global-color">02.</span>
														هل مشاكل القلب الرئوية وراثية؟
													</span>
                  </button>
                </h2>
                <div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo1"
                     data-bs-parent="#accordionExample1">
                  <div class="accordion-body">
                    رعاية القلب والأطباء المتخصصين في المستشفى.إنهم يهتمون بالكامل وسهلة بإدارة عملية جراحية القلب.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree1">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
													<span class="pbmit-accordion-icon pbmit-accordion-icon-right">
														<span class="pbmit-accordion-icon-closed">
															<i class="fa fa-angle-up"></i>
														</span>
														<span class="pbmit-accordion-icon-opened">
															<i class="fa fa-angle-down"></i>
														</span>
													</span>
                    <span class="pbmit-accordion-title">
														<span class="pbmit-global-color">03.</span>
														ما هو القلب وهل سيؤلم؟
													</span>
                  </button>
                </h2>
                <div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1"
                     data-bs-parent="#accordionExample1">
                  <div class="accordion-body">
                    رعاية القلب والأطباء المتخصصين في المستشفى.إنهم يهتمون بالكامل وسهلة بإدارة عملية جراحية القلب.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
