<section class="testimonial-three_bg pbmit-extend-animation">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xl-8"></div>
      <div class="col-md-5 col-xl-4">
        <div
          class="swiper-slider"
          data-autoplay="true"
          data-loop="true"
          data-dots="false"
          data-arrows="false"
          data-columns="1"
          data-margin="30"
          data-effect="slide"
        >
          <div class="swiper-wrapper">
            <!-- Slide1 -->
            <div class="swiper-slide">
              <article class="pbmit-testimonial-style-2">
                <div class="pbminfotech-post-item">
                  <div class="pbmit-box-content-wrap">
                    <div class="pbminfotech-box-star-ratings">
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1"></i>
                    </div>
                    <div class="pbminfotech-box-desc">
                      <blockquote class="pbminfotech-testimonial-text">
                        <p>
                          أود أن أوصي الممارسين في هذا المركز للجميع! إنهم
                          رائعون في العمل معهم وهم مدربون ممتازون. باستثناء ما
                          هو موجود في هذا العمل. شكرا لكم جميعا!
                        </p>
                      </blockquote>
                    </div>
                    <div
                      class="pbminfotech-box-author d-flex align-items-center"
                    >
                      <div class="pbminfotech-box-img">
                        <div class="pbmit-featured-img-wrapper">
                          <div class="pbmit-featured-wrapper">
                            <img
                              src="/src/assets/images/homepage-3/testimonial/testimonial-01.jpg"
                              class="img-fluid"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-auther-content">
                        <h3 class="pbminfotech-box-title">مى الحجر</h3>
                        <div class="pbminfotech-testimonial-detail">
                          عميل سعيد
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <!-- Slide2 -->
            <div class="swiper-slide">
              <article class="pbmit-testimonial-style-2">
                <div class="pbminfotech-post-item">
                  <div class="pbmit-box-content-wrap">
                    <div class="pbminfotech-box-star-ratings">
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1"></i>
                    </div>
                    <div class="pbminfotech-box-desc">
                      <blockquote class="pbminfotech-testimonial-text">
                        <p>
                          أود أن أوصي الممارسين في هذا المركز للجميع! إنهم
                          رائعون في العمل معهم وهم مدربون ممتازون. باستثناء ما
                          هو موجود في هذا العمل. شكرا لكم جميعا!
                        </p>
                      </blockquote>
                    </div>
                    <div
                      class="pbminfotech-box-author d-flex align-items-center"
                    >
                      <div class="pbminfotech-box-img">
                        <div class="pbmit-featured-img-wrapper">
                          <div class="pbmit-featured-wrapper">
                            <img
                              src="/src/assets/images/homepage-3/testimonial/testimonial-02.jpg"
                              class="img-fluid"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-auther-content">
                        <h3 class="pbminfotech-box-title">هبة الألفى</h3>
                        <div class="pbminfotech-testimonial-detail">
                          عميل سعيد
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <!-- Slide3 -->
            <div class="swiper-slide">
              <article class="pbmit-testimonial-style-2">
                <div class="pbminfotech-post-item">
                  <div class="pbmit-box-content-wrap">
                    <div class="pbminfotech-box-star-ratings">
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1"></i>
                    </div>
                    <div class="pbminfotech-box-desc">
                      <blockquote class="pbminfotech-testimonial-text">
                        <p>
                          أود أن أوصي الممارسين في هذا المركز للجميع! إنهم
                          رائعون في العمل معهم وهم مدربون ممتازون. باستثناء ما
                          هو موجود في هذا العمل. شكرا لكم جميعا!
                        </p>
                      </blockquote>
                    </div>
                    <div
                      class="pbminfotech-box-author d-flex align-items-center"
                    >
                      <div class="pbminfotech-box-img">
                        <div class="pbmit-featured-img-wrapper">
                          <div class="pbmit-featured-wrapper">
                            <img
                              src="/src/assets/images/homepage-3/testimonial/testimonial-03.jpg"
                              class="img-fluid"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-auther-content">
                        <h3 class="pbminfotech-box-title">محمد موسى</h3>
                        <div class="pbminfotech-testimonial-detail">
                          عميل سعيد
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <!-- Slide4 -->
            <div class="swiper-slide">
              <article class="pbmit-testimonial-style-2">
                <div class="pbminfotech-post-item">
                  <div class="pbmit-box-content-wrap">
                    <div class="pbminfotech-box-star-ratings">
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1"></i>
                    </div>
                    <div class="pbminfotech-box-desc">
                      <blockquote class="pbminfotech-testimonial-text">
                        <p>
                          أود أن أوصي الممارسين في هذا المركز للجميع! إنهم
                          رائعون في العمل معهم وهم مدربون ممتازون. باستثناء ما
                          هو موجود في هذا العمل. شكرا لكم جميعا!
                        </p>
                      </blockquote>
                    </div>
                    <div
                      class="pbminfotech-box-author d-flex align-items-center"
                    >
                      <div class="pbminfotech-box-img">
                        <div class="pbmit-featured-img-wrapper">
                          <div class="pbmit-featured-wrapper">
                            <img
                              src="/src/assets/images/homepage-3/testimonial/testimonial-04.jpg"
                              class="img-fluid"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-auther-content">
                        <h3 class="pbminfotech-box-title">محمد موسى</h3>
                        <div class="pbminfotech-testimonial-detail">
                          عميل سعيد Client
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <!-- Slide5 -->
            <div class="swiper-slide">
              <article class="pbmit-testimonial-style-2">
                <div class="pbminfotech-post-item">
                  <div class="pbmit-box-content-wrap">
                    <div class="pbminfotech-box-star-ratings">
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1"></i>
                    </div>
                    <div class="pbminfotech-box-desc">
                      <blockquote class="pbminfotech-testimonial-text">
                        <p>
                          أود أن أوصي الممارسين في هذا المركز للجميع! إنهم
                          رائعون في العمل معهم وهم مدربون ممتازون. باستثناء ما
                          هو موجود في هذا العمل. شكرا لكم جميعا!
                        </p>
                      </blockquote>
                    </div>
                    <div
                      class="pbminfotech-box-author d-flex align-items-center"
                    >
                      <div class="pbminfotech-box-img">
                        <div class="pbmit-featured-img-wrapper">
                          <div class="pbmit-featured-wrapper">
                            <img
                              src="/src/assets/images/homepage-3/testimonial/testimonial-05.jpg"
                              class="img-fluid"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-auther-content">
                        <h3 class="pbminfotech-box-title">مجدى علام</h3>
                        <div class="pbminfotech-testimonial-detail">
                          عميل سعيد
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <!-- Slide6 -->
            <div class="swiper-slide">
              <article class="pbmit-testimonial-style-2">
                <div class="pbminfotech-post-item">
                  <div class="pbmit-box-content-wrap">
                    <div class="pbminfotech-box-star-ratings">
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1 pbmit-active"></i>
                      <i class="pbmit-base-icon-star-1"></i>
                    </div>
                    <div class="pbminfotech-box-desc">
                      <blockquote class="pbminfotech-testimonial-text">
                        <p>
                          أود أن أوصي الممارسين في هذا المركز للجميع! إنهم
                          رائعون في العمل معهم وهم مدربون ممتازون. باستثناء ما
                          هو موجود في هذا العمل. شكرا لكم جميعا!
                        </p>
                      </blockquote>
                    </div>
                    <div
                      class="pbminfotech-box-author d-flex align-items-center"
                    >
                      <div class="pbminfotech-box-img">
                        <div class="pbmit-featured-img-wrapper">
                          <div class="pbmit-featured-wrapper">
                            <img
                              src="/src/assets/images/homepage-3/testimonial/testimonial-06.jpg"
                              class="img-fluid"
                              alt=""
                            />
                          </div>
                        </div>
                      </div>
                      <div class="pbmit-auther-content">
                        <h3 class="pbminfotech-box-title">مريم مصطفى</h3>
                        <div class="pbminfotech-testimonial-detail">
                          عميل سعيد
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
