<app-title-bar
  title="العناية بالأسنان"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
  [subtitle]="[' خدمات ', ' طبيب أسنان ']"
></app-title-bar>

<!-- Service Details -->
<section class="site_content service_details">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 service-right-col">
        <div class="pbmit-service-feature-image">
          <img
            src="/assets/images/service/service-single-01.jpg"
            class="img-fluid w-100"
            alt=""
          />
        </div>
        <div class="pbmit-entry-content">
          <div class="pbmit-service_content">
            <div class="pbmit-heading animation-style2">
              <h3 class="pbmit-title1 mb-3">
                تقديم الرعاية الطبية على مستوى عالمي
              </h3>
            </div>
            <p class="pbmit-firstletter">
              قد توفر المستشفيات الرئيسية أو أنظمة المستشفيات الكبيرة خدمة
              الإسعاف الخاصة بها كخدمة للمجتمع ، أو حيث لا يمكن الاعتماد على
              رعاية سيارة الإسعاف.تعمل العديد من أقسام EMS في المستشفى فقط مع
              المستشفى
            </p>
            <p>
              سيحاول الأطباء علاج الخسائر في مكان الحادث وسيقومون بنقلهم إلى
              المستشفى فقط إذا كان من الضروري.إذا تم نقل المرضى إلى المستشفى ،
              فمن الأرجح أن يذهبوا مباشرة إلى الجناح بدلاً من ذلك<u
                >قسم الطوارئ</u
              >
              . تشمل البلدان التي تستخدم هذا النموذج النمسا وفرنسا وبلجيكا
              ولوكسمبورغ وإيطاليا وإسبانيا والبرازيل وشيلي.
            </p>
            <div class="row">
              <div class="col-md-6">
                <ul class="list-group list-group-borderless">
                  <li class="list-group-item">
                    <span class="pbmit-icon-list-icon">
                      <i aria-hidden="true" class="ti-check"></i>
                    </span>
                    <span class="pbmit-icon-list-text"
                      >هذا مؤلم للغاية أو مرة أخرى هناك أي شخص.</span
                    >
                  </li>
                  <li class="list-group-item">
                    <span class="pbmit-icon-list-icon">
                      <i aria-hidden="true" class="ti-check"></i>
                    </span>
                    <span class="pbmit-icon-list-text"
                      >السخط والكراهية الرجال الذين يعانون من ذلك</span
                    >
                  </li>
                  <li class="list-group-item">
                    <span class="pbmit-icon-list-icon">
                      <i aria-hidden="true" class="ti-check"></i>
                    </span>
                    <span class="pbmit-icon-list-text"
                      >الرغبات هذه الحالات بسيطة تمامًا.</span
                    >
                  </li>
                  <li class="list-group-item">
                    <span class="pbmit-icon-list-icon">
                      <i aria-hidden="true" class="ti-check"></i>
                    </span>
                    <span class="pbmit-icon-list-text"
                      >هذا مؤلم للغاية أو مرة أخرى هناك أي شخص.</span
                    >
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group list-group-borderless">
                  <li class="list-group-item">
                    <span class="pbmit-icon-list-icon">
                      <i aria-hidden="true" class="ti-check"></i>
                    </span>
                    <span class="pbmit-icon-list-text"
                      >الأطعمة النشوية هي مجموعة طعام رئيسية في الأكل
                      الصحي</span
                    >
                  </li>
                  <li class="list-group-item">
                    <span class="pbmit-icon-list-icon">
                      <i aria-hidden="true" class="ti-check"></i>
                    </span>
                    <span class="pbmit-icon-list-text"
                      >الناس ينامون أقل بكثير مما فعلوا في الماضي</span
                    >
                  </li>
                  <li class="list-group-item">
                    <span class="pbmit-icon-list-icon">
                      <i aria-hidden="true" class="ti-check"></i>
                    </span>
                    <span class="pbmit-icon-list-text"
                      >لا تدخن أو تستخدم المخدرات ، وتشرب فقط بالاعتدال</span
                    >
                  </li>
                  <li class="list-group-item">
                    <span class="pbmit-icon-list-icon">
                      <i aria-hidden="true" class="ti-check"></i>
                    </span>
                    <span class="pbmit-icon-list-text"
                      >جسمك مليء بتريليونات من البكتيريا والفيروسات
                      والفطريات</span
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="pbmit-heading animation-style2">
              <h3 class="pbmit-title1 mb-3">خطوة بسيطة عبر الإنترنت للتعيين</h3>
            </div>
            <p>
              يُعرف النموذج الأنجلو أمريكي أيضًا باسم سيارات الإسعافات التي يعمل
              بها المسعفون و/أو الفنيين الطبيين الطارئين.، ولكن ليس بنفس مستوى
              الطبيب.في هذا النموذج ، من النادر أن تجد طبيبًا متخصصًا في الواقع
              التدريب الطبي يعمل بشكل روتيني في سيارات الإسعاف.
            </p>
          </div>
          <div class="ihbox_style_box">
            <div class="row">
              <article class="pbmit-miconheading-style-18 col-md-4">
                <div class="pbmit-ihbox-style-18">
                  <div class="pbmit-ihbox-headingicon">
                    <div class="pbmit-icon-wrap">
                      <div class="pbmit-ihbox-wrapper">
                        <div class="pbmit-ihbox-icon-type-image">
                          <img
                            src="/assets/images/homepage-3/process-img-01.jpg"
                            class="img-fluid"
                            alt="Make Appointment"
                          />
                        </div>
                      </div>
                      <div class="pbmit-ihbox-box-number">01</div>
                    </div>
                    <div class="pbmit-ihbox-contents">
                      <h2 class="pbmit-element-title">حدد موعدا</h2>
                      <div class="pbmit-heading-desc">
                        إذا كنت بحاجة إلى أي مساعدة في حجز موعد ، فيرجى الاتصال
                        بنا
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="pbmit-miconheading-style-18 col-md-4">
                <div class="pbmit-ihbox-style-18">
                  <div class="pbmit-ihbox-headingicon">
                    <div class="pbmit-icon-wrap">
                      <div class="pbmit-ihbox-wrapper">
                        <div class="pbmit-ihbox-icon-type-image">
                          <img
                            src="/assets/images/homepage-3/process-img-02.jpg"
                            class="img-fluid"
                            alt="Make Appointment"
                          />
                        </div>
                      </div>
                      <div class="pbmit-ihbox-box-number">02</div>
                    </div>
                    <div class="pbmit-ihbox-contents">
                      <h2 class="pbmit-element-title">حدد الطبيب</h2>
                      <div class="pbmit-heading-desc">
                        حدد واحدة من القائمة وانتقل من خلال ملف تعريف الطبيب
                        وأطباء الأطباء
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="pbmit-miconheading-style-18 col-md-4">
                <div class="pbmit-ihbox-style-18">
                  <div class="pbmit-ihbox-headingicon">
                    <div class="pbmit-icon-wrap">
                      <div class="pbmit-ihbox-wrapper">
                        <div class="pbmit-ihbox-icon-type-image">
                          <img
                            src="/assets/images/homepage-3/process-img-03.jpg"
                            class="img-fluid"
                            alt="Make Appointment"
                          />
                        </div>
                      </div>
                      <div class="pbmit-ihbox-box-number">03</div>
                    </div>
                    <div class="pbmit-ihbox-contents">
                      <h2 class="pbmit-element-title">احصل على التشاور</h2>
                      <div class="pbmit-heading-desc">
                        تواصل على الفور مع أخصائي 24 × 7 أو اختر فيديو قم بزيارة
                        طبيب معين.
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="service-detail-accordion_box">
            <div class="pbmit-heading animation-style2">
              <h3 class="pbmit-title1 mb-3">أسئلة مكررة</h3>
            </div>
            <p>
              مطور ، لكنني سأكون في ، وألم وقت رائع.على سبيل المثال ، إلى
              العجائب ، من هو العمل في العمل باستثناء هذا القساوة من راحة
              الوصفة.تجنب أي فقرة.لأنه لا أحد هو متعة المتعة.
            </p>
            <div class="accordion" id="accordionExample1">
              <div class="accordion-item active" id="headingOne1">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne1"
                    aria-expanded="false"
                    aria-controls="collapseOne1"
                  >
                    <span
                      class="pbmit-accordion-icon pbmit-accordion-icon-right"
                    >
                      <span class="pbmit-accordion-icon-closed">
                        <i class="fa fa-angle-up"></i>
                      </span>
                      <span class="pbmit-accordion-icon-opened">
                        <i class="fa fa-angle-down"></i>
                      </span>
                    </span>
                    <span class="pbmit-accordion-title">
                      <span class="pbmit-global-color">01.</span>
                      ما كل ما يجب أن أحمله لتحقيق موعدي الأول؟
                    </span>
                  </button>
                </h2>
                <div
                  id="collapseOne1"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne1"
                  data-bs-parent="#accordionExample1"
                >
                  <div class="accordion-body">
                    لوريم الجزر للغاية ، مطور طموح طالب ، لكنني سأكون في ، وآلام
                    وقت رائع.أي شخص هو الكثير من حامل كرة السلة المذهلة.الضحك
                    يرجى سحب حمام سباحة طبقة أو مضادات الأكسدة.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo1">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo1"
                    aria-expanded="false"
                    aria-controls="collapseTwo1"
                  >
                    <span
                      class="pbmit-accordion-icon pbmit-accordion-icon-right"
                    >
                      <span class="pbmit-accordion-icon-closed">
                        <i class="fa fa-angle-up"></i>
                      </span>
                      <span class="pbmit-accordion-icon-opened">
                        <i class="fa fa-angle-down"></i>
                      </span>
                    </span>
                    <span class="pbmit-accordion-title">
                      <span class="pbmit-global-color">02.</span>
                      كيف يتم توظيف قسم الطوارئ؟
                    </span>
                  </button>
                </h2>
                <div
                  id="collapseTwo1"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo1"
                  data-bs-parent="#accordionExample1"
                >
                  <div class="accordion-body">
                    لوريم الجزر للغاية ، مطور طموح طالب ، لكنني سأكون في ، وآلام
                    وقت رائع.أي شخص هو الكثير من حامل كرة السلة المذهلة.الضحك
                    يرجى سحب حمام سباحة طبقة أو مضادات الأكسدة.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree1">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree1"
                    aria-expanded="false"
                    aria-controls="collapseThree1"
                  >
                    <span
                      class="pbmit-accordion-icon pbmit-accordion-icon-right"
                    >
                      <span class="pbmit-accordion-icon-closed">
                        <i class="fa fa-angle-up"></i>
                      </span>
                      <span class="pbmit-accordion-icon-opened">
                        <i class="fa fa-angle-down"></i>
                      </span>
                    </span>
                    <span class="pbmit-accordion-title">
                      <span class="pbmit-global-color">03.</span>
                      ماذا لو لم يكن لدى مريض شقيق متطابق؟
                    </span>
                  </button>
                </h2>
                <div
                  id="collapseThree1"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree1"
                  data-bs-parent="#accordionExample1"
                >
                  <div class="accordion-body">
                    لوريم الجزر للغاية ، مطور طموح طالب ، لكنني سأكون في ، وآلام
                    وقت رائع.أي شخص هو الكثير من حامل كرة السلة المذهلة.الضحك
                    يرجى سحب حمام سباحة طبقة أو مضادات الأكسدة.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 service-left-col sidebar">
        <aside class="service-sidebar">
          <aside class="widget post-list">
            <h2 class="widget-title">خدمتنا</h2>
            <div class="all-post-list">
              <ul>
                <li class="post-active">
                  <a href="service-details.html"> العناية بالأسنان </a>
                </li>
                <li><a href="service-details.html"> علم العقاقير </a></li>
                <li><a href="service-details.html"> تقويم العظام </a></li>
                <li><a href="service-details.html"> جراحة تجميلية </a></li>
                <li><a href="service-details.html"> أمراض الدم </a></li>
                <li><a href="service-details.html"> علم الأعصاب </a></li>
                <li><a href="service-details.html"> علم الأنف </a></li>
                <li><a href="service-details.html"> طب العيون </a></li>
                <li><a href="service-details.html"> الرئوي </a></li>
              </ul>
            </div>
          </aside>
          <aside class="widget pbmit-service-ad">
            <div class="textwidget">
              <div class="pbmit-service-ads">
                <h5 class="pbmit-ads-subheding">نشرتنا الإخبارية</h5>
                <h4 class="pbmit-ads-subtitle">هل أنت مستعد لبدء التعلم؟</h4>
                <h3 class="pbmit-ads-title">أفتح حساب الأن!</h3>
                <div class="pbmit-ads-desc">
                  <i class="pbmit-base-icon-phone-call-1"></i>+(123)
                  1234-567-8901
                </div>
                <a class="pbmit-btn" href="service-details.html">
                  <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-icon pbmit-align-icon-right">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.76"
                        height="22.76"
                        viewBox="0 0 22.76 22.76"
                      >
                        <title>black-arrow</title>
                        <path
                          d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1,1,22.34"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                      </svg>
                    </span>
                    <span class="pbmit-button-text">سجل الان</span>
                  </span>
                </a>
              </div>
            </div>
          </aside>
          <aside class="widget">
            <h2 class="widget-title">ملف الشركة</h2>
            <div class="textwidget">
              <div class="download">
                <div class="item-download">
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <span class="pbmit-download-content">
                      <i class="pbmit-base-icon-pdf-file-format-symbol-1"></i>
                      قم بتنزيل ملف PDF
                    </span>
                    <span class="pbmit-download-item">
                      <i
                        class="pbminfotech-base-icons pbmit-righticon pbmit-base-icon-download"
                      ></i>
                    </span>
                  </a>
                </div>
                <div class="item-download">
                  <a href="#" target="_blank" rel="noopener noreferrer">
                    <span class="pbmit-download-content">
                      <i class="pbmit-base-icon-doc-file-format"></i> قم بتنزيل
                      ملف Word
                    </span>
                    <span class="pbmit-download-item">
                      <i
                        class="pbminfotech-base-icons pbmit-righticon pbmit-base-icon-download"
                      ></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </aside>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- Service Details End -->
