<div class="pbmit-slider-area pbmit-slider-eight">
  <div class="swiper-slider" data-autoplay="true" data-loop="true" data-dots="true" data-arrows="false" data-columns="1" data-margin="0" data-effect="fade">
    <div class="swiper-wrapper">
      <!-- Slide1 -->
      <div class="swiper-slide">
        <div class="pbmit-slider-item">
          <div class="pbmit-slider-bg" style="background-image: url(/assets/images/slider-img/demo08-slide-01.jpg);"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 pbmit-col-left">
                <div class="pbmit-slider-content">
                  <h5 class="pbmit-sub-title transform-center transform-delay-1">مرحبا بكم</h5>
                  <h2 class="pbmit-title-1 transform-left transform-delay-2">الجمعية المصرية للاشعة والطب النووي</h2>
                  <div class="pbmit-desc transform-left transform-delay-3">تعتبر الجمعية المصرية للاشعة والطب النووي من اقدم الجمعيات الطبية المصرية </div>
                  <div class="pbmit-desc transform-left transform-delay-3">ويتكون مجلس ادارة الجمعية من ١٥ عضو يتم اختيارهم بالانتخاب ويشترط في عضو مجلس الادارة </div>
                  <div class="pbmit-desc transform-left transform-delay-3">ان يكون حاصلاً علي درجة الدكتوراة او ان يكون حاصلاً علي لقب الاستاذية.  </div>
                  <div class="d-flex bottom-area">
                    <div class="pbmit-button transform-left transform-delay-4 me-sm-3">
                      <a class="pbmit-btn" routerLink="contact-us.html">
															<span class="pbmit-button-content-wrapper">
																<span class="pbmit-button-icon pbmit-align-icon-right">
																	<svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
																		<title>black-arrow</title>
																		<path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
																		<path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
																		<path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
																	</svg>
																</span>
																<span class="pbmit-button-text">تواصل معنا </span>
															</span>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide2 -->
      <div class="swiper-slide">
        <div class="pbmit-slider-item">
          <div class="pbmit-slider-bg" style="background-image: url(/assets/images/slider-img/demo08-slide-01.jpg);"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 pbmit-col-left">
                <div class="pbmit-slider-content">
                  <h5 class="pbmit-sub-title transform-center transform-delay-1">مرحبا بكم</h5>
                  <h2 class="pbmit-title-1 transform-left transform-delay-2">الجمعية المصرية للاشعة والطب النووي</h2>
                  <div class="pbmit-desc transform-left transform-delay-3">تعتبر الجمعية المصرية للاشعة والطب النووي من اقدم الجمعيات الطبية المصرية </div>
                  <div class="pbmit-desc transform-left transform-delay-3">ويتكون مجلس ادارة الجمعية من ١٥ عضو يتم اختيارهم بالانتخاب ويشترط في عضو مجلس الادارة </div>
                  <div class="pbmit-desc transform-left transform-delay-3">ان يكون حاصلاً علي درجة الدكتوراة او ان يكون حاصلاً علي لقب الاستاذية.  </div>
                  <div class="d-flex bottom-area">
                    <div class="pbmit-button transform-left transform-delay-4 me-sm-3">
                      <a class="pbmit-btn" routerLink="/contact-us">
															<span class="pbmit-button-content-wrapper">
																<span class="pbmit-button-icon pbmit-align-icon-right">
																	<svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
																		<title>black-arrow</title>
																		<path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
																		<path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
																		<path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
																	</svg>
																</span>
																<span class="pbmit-button-text">تواصل معنا </span>
															</span>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
