<div class="footer-top-section pbmit-bg-color-blackish">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 pbmit-col_1">
        <ul class="pbmit-icon-list-items pbmit-inline-items">
          <li class="pbmit-icon-list-item pbmit-inline-item">
            <a href="#">
              <span class="pbmit-icon-list-text">مهمتنا</span>
            </a>
          </li>
          <li class="pbmit-icon-list-item pbmit-inline-item">
            <a href="#">
              <span class="pbmit-icon-list-text">الجوائز</span>
            </a>
          </li>
          <li class="pbmit-icon-list-item pbmit-inline-item">
            <a href="#">
              <span class="pbmit-icon-list-text">الخبرة</span>
            </a>
          </li>
          <li class="pbmit-icon-list-item pbmit-inline-item">
            <a href="#">
              <span class="pbmit-icon-list-text">قصة نجاح</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 pbmit-col_2">
        <div class="pbmit-ihbox-style-13">
          <div class="pbmit-ihbox-box">
            <div class="pbmit-ihbox-icon">
              <div class="pbmit-ihbox-icon-wrapper">
                <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                  <i class="pbmit-xcare-icon pbmit-xcare-icon-phone-call"></i>
                </div>
              </div>
            </div>
            <div class="pbmit-ihbox-contents">
              <h2 class="pbmit-element-title">00201062729164</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 pbmit-col_3">
        <div class="pbmit-ihbox-style-13">
          <div class="pbmit-ihbox-box">
            <div class="pbmit-ihbox-icon">
              <div class="pbmit-ihbox-icon-wrapper">
                <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                  <i class="pbmit-xcare-icon pbmit-xcare-icon-email"></i>
                </div>
              </div>
            </div>
            <div class="pbmit-ihbox-contents">
              <h2 class="pbmit-element-title">info&#64;gahezcare.com</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="site-footer">
  <div class="pbmit-footer-big-area-wrapper">
    <div class="footer-wrap pbmit-footer-big-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xl-4"></div>
          <div class="col-md-12 col-xl-8 pbmit-footer-right">
            <h3 class="pbmit-title">
              هناك شيء واحد فقط في العالم أريده وهو المستشفى.
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pbmit-footer-widget-area">
    <div class="container">
      <div class="row">
        <div class="pbmit-footer-widget-col-1 col-md-6 col-lg-3">
          <aside class="widget widget_text">
            <div class="textwidget">
              <div class="pbmit-footer-logo">
                <img src="/assets/images/logo.svg" alt="" />
              </div>
              <div class="pbmit-footer-text">
                كانت هناك حاجة محسوسة في مجال الرعاية الصحية إلى تطوير الأداء
                الجديد بالإضافة إلى تحديث الأداء الحالي.
              </div>
              <ul class="pbmit-social-links">
                <li class="pbmit-social-li pbmit-social-facebook">
                  <a
                    title="Facebook"
                    href="https://www.facebook.com/"
                    target="_blank"
                    rel="noopener"
                  >
                    <span><i class="pbmit-base-icon-facebook-f"></i></span>
                  </a>
                </li>
                <li class="pbmit-social-li pbmit-social-twitter">
                  <a
                    title="Twitter"
                    href="https://www.twitter.com/"
                    target="_blank"
                    rel="noopener"
                  >
                    <span><i class="pbmit-base-icon-twitter-2"></i></span>
                  </a>
                </li>
                <li class="pbmit-social-li pbmit-social-linkedin">
                  <a
                    title="LinkedIn"
                    href="https://www.linkedin.com/"
                    target="_blank"
                    rel="noopener"
                  >
                    <span><i class="pbmit-base-icon-linkedin-in"></i></span>
                  </a>
                </li>
                <li class="pbmit-social-li pbmit-social-instagram">
                  <a
                    title="Instagram"
                    href="https://www.instagram.com/"
                    target="_blank"
                    rel="noopener"
                  >
                    <span><i class="pbmit-base-icon-instagram"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="pbmit-footer-widget-col-2 col-md-6 col-lg-3">
          <div class="widget">
            <h2 class="widget-title">رابط مفيد</h2>
            <div class="textwidget">
              <ul>
                <li><a routerLink="/our-team-member">الأطباء</a></li>
                <li><a routerLink="/about-us">من نحن</a></li>
                <li><a routerLink="/contact-us">إتصل بنا</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pbmit-footer-widget-col-3 col-md-6 col-lg-3">
          <div class="widget">
            <h2 class="widget-title">وقت العمل</h2>
            <div class="pbmit-timelist-wrapper">
              <ul class="pbmit-timelist-list">
                <li>
                  <span class="pbmit-timelist-li-title"
                    >الاثنين - الجمعة: 9.00 صباحًا - 5.00 مساءً
                  </span>
                </li>
                <li>
                  <span class="pbmit-timelist-li-title"
                    >السبت: 10.00 صباحًا - 6.00 مساءً</span
                  >
                </li>
                <li><span class="pbmit-timelist-li-title">الأحد مغلق</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pbmit-footer-widget-col-4 col-md-6 col-lg-3">
          <aside class="widget">
            <h2 class="widget-title">عنواننا</h2>
            <div class="pbmit-contact-widget-line pbmit-contact-widget-address">
              25 ش ابو بكر الصديق - المعادى <br />
              جمهورية مصر العربية
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="pbmit-footer-text-area">
    <div class="container">
      <div class="pbmit-footer-text-inner">
        <div class="row">
          <div class="pbmit-footer-copyright-text-area text-center">
            جميع الحقوق محفوظه لدى &#64; مجمع الحبيب الطبى 2019
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
