<section class="section-lgt">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="pbmit-tween-efect pbmit-tween-effect-style-1">
          <div class="tween-text tween-image pbmit-tween-effect" data-x-start="-30" data-x-end="0" data-y-start="10" data-y-end="0" data-scale-x-start="1" data-scale-x-end=" 1" data-skew-x-start=" 0deg" data-skew-x-end="0deg" data-skew-y-start=" 0deg" data-skew-y-end=" 0deg" data-rotate-x-start="0" data-rotate-x-end="0">
            <h3 class="pbmit-element-title">الأطباء</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pbmit-tween-efect pbmit-tween-effect-style-1">
          <div class="tween-text tween-image pbmit-tween-effect" data-x-start="30" data-x-end="0" data-y-start="10" data-y-end="0" data-scale-x-start="1" data-scale-x-end=" 1" data-skew-x-start=" 0deg" data-skew-x-end="0deg" data-skew-y-start=" 0deg" data-skew-y-end=" 0deg" data-rotate-x-start="0" data-rotate-x-end="0">
            <h3 class="pbmit-element-title">الخبراء</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-four">
  <div class="container">
    <div class="row">
      <article class="pbmit-team-style-3 col-md-12">
        <div class="pbminfotech-post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-team-title-wapper d-flex">
              <h3 class="pbmit-team-title">
                <a routerLink="/doctors/details">محمد على</a>
              </h3>
              <div class="pbminfotech-box-team-position">طبيب القلب</div>
            </div>
            <div class="pbminfotech-team-wrapper">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/team/team-01.jpg" class="img-fluid" alt="team-img-01">
                </div>
              </div>
            </div>
            <a class="pbmit-team-btn" routerLink="/doctors/details">
              <span class="pbmit-button-text">اقرأ أكثر</span>
              <span class="pbmit-button-icon-wrapper">
											<span class="pbmit-button-icon">
												<i class="pbmit-base-icon-black-arrow-1"></i>
											</span>
										</span>
            </a>
          </div>
          <a class="pbmit-link" routerLink="/doctors/details"></a>
        </div>
      </article>
      <article class="pbmit-team-style-3 col-md-12">
        <div class="pbminfotech-post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-team-title-wapper d-flex">
              <h3 class="pbmit-team-title">
                <a routerLink="/doctors/details">منى حلمى</a>
              </h3>
              <div class="pbminfotech-box-team-position">دكتور امراض نساء</div>
            </div>
            <div class="pbminfotech-team-wrapper">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/team/team-02.jpg" class="img-fluid" alt="team-img-01">
                </div>
              </div>
            </div>
            <a class="pbmit-team-btn" routerLink="/doctors/details">
              <span class="pbmit-button-text">إقرأ المزيد</span>
              <span class="pbmit-button-icon-wrapper">
											<span class="pbmit-button-icon">
												<i class="pbmit-base-icon-black-arrow-1"></i>
											</span>
										</span>
            </a>
          </div>
          <a class="pbmit-link" routerLink="/doctors/details"></a>
        </div>
      </article>
      <article class="pbmit-team-style-3 col-md-12">
        <div class="pbminfotech-post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-team-title-wapper d-flex">
              <h3 class="pbmit-team-title">
                <a routerLink="/doctors/details">مى حجازى</a>
              </h3>
              <div class="pbminfotech-box-team-position">دكتور جراح</div>
            </div>
            <div class="pbminfotech-team-wrapper">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/team/team-03.jpg" class="img-fluid" alt="team-img-01">
                </div>
              </div>
            </div>
            <a class="pbmit-team-btn" routerLink="/doctors/details">
              <span class="pbmit-button-text">اقرأ أكثر</span>
              <span class="pbmit-button-icon-wrapper">
											<span class="pbmit-button-icon">
												<i class="pbmit-base-icon-black-arrow-1"></i>
											</span>
										</span>
            </a>
          </div>
          <a class="pbmit-link" routerLink="/doctors/details"></a>
        </div>
      </article>
      <article class="pbmit-team-style-3 col-md-12">
        <div class="pbminfotech-post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-team-title-wapper d-flex">
              <h3 class="pbmit-team-title">
                <a routerLink="/doctors/details">مى مصطفى</a>
              </h3>
              <div class="pbminfotech-box-team-position">عظام</div>
            </div>
            <div class="pbminfotech-team-wrapper">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/team/team-04.jpg" class="img-fluid" alt="team-img-01">
                </div>
              </div>
            </div>
            <a class="pbmit-team-btn" routerLink="/doctors/details">
              <span class="pbmit-button-text">اقرأ أكثر</span>
              <span class="pbmit-button-icon-wrapper">
											<span class="pbmit-button-icon">
												<i class="pbmit-base-icon-black-arrow-1"></i>
											</span>
										</span>
            </a>
          </div>
          <a class="pbmit-link" routerLink="/doctors/details"></a>
        </div>
      </article>
      <article class="pbmit-team-style-3 col-md-12">
        <div class="pbminfotech-post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-team-title-wapper d-flex">
              <h3 class="pbmit-team-title">
                <a routerLink="/doctors/details">وائل الجارحى</a>
              </h3>
              <div class="pbminfotech-box-team-position">الأطباء</div>
            </div>
            <div class="pbminfotech-team-wrapper">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/team/team-05.jpg" class="img-fluid" alt="team-img-01">
                </div>
              </div>
            </div>
            <a class="pbmit-team-btn" routerLink="/doctors/details">
              <span class="pbmit-button-text">اقرأ أكثر</span>
              <span class="pbmit-button-icon-wrapper">
											<span class="pbmit-button-icon">
												<i class="pbmit-base-icon-black-arrow-1"></i>
											</span>
										</span>
            </a>
          </div>
          <a class="pbmit-link" routerLink="/doctors/details"></a>
        </div>
      </article>
    </div>
  </div>
</section>
