<app-title-bar
  title="اتصل بنا"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
></app-title-bar>

<!--Inbox Start-->
<app-inbox></app-inbox>
<!--Inbox End-->

<app-contact-form></app-contact-form>

<!-- Client Start -->
<app-clients></app-clients>
<!-- Client End -->

<!-- Map -->
<section class="iframe_section section-lgb">
  <div class="container-fluid">
    <div class="iframe_box">
      <iframe
        src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"
        title="London Eye, London, United Kingdom"
        aria-label="London Eye, London, United Kingdom"
      ></iframe>
    </div>
  </div>
</section>
<!--Map-->
