<!-- Marquee Start -->
<section class="section-lgb" style="margin-top:100px">
  <div class="container-fluid p-0">
    <div class="swiper-slider marquee">
      <div class="swiper-wrapper">
        <!-- Slide1 -->
        <div class="swiper-slide">
          <article class="pbmit-marquee-effect-style-1">
            <div class="pbmit-tag-wrapper">
              <h2 class="pbmit-element-title" data-text="أمراض القلب">
                أمراض القلب
              </h2>
            </div>
          </article>
        </div>
        <!-- Slide2 -->
        <div class="swiper-slide">
          <article class="pbmit-marquee-effect-style-1">
            <div class="pbmit-tag-wrapper">
              <h2 class="pbmit-element-title" data-text="جراحة الاعصاب">
                جراحة الاعصاب
              </h2>
            </div>
          </article>
        </div>
        <!-- Slide3 -->
        <div class="swiper-slide">
          <article class="pbmit-marquee-effect-style-1">
            <div class="pbmit-tag-wrapper">
              <h2 class="pbmit-element-title" data-text="جراحة">جراحة</h2>
            </div>
          </article>
        </div>
        <!-- Slide4 -->
        <div class="swiper-slide">
          <article class="pbmit-marquee-effect-style-1">
            <div class="pbmit-tag-wrapper">
              <h2 class="pbmit-element-title" data-text="الرعاىة الصحية">
                الرعاىة الصحية
              </h2>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Marquee End -->

<section class="pbmit-sticky-section section-xl">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5 pbmit-sticky-col">
        <div class="pbmit-ele-header-area">
          <div class="pbmit-heading-subheading">
            <h4 class="pbmit-subtitle">تحفيز</h4>
            <h2 class="pbmit-title-1">قسم الرعاية الصحية الطبية</h2>
            <div class="pbmit-heading-desc">
              ساحة الرعاية الصحية كانت هناك حاجة ماسة لتطوير جديد وكذلك ترقية الأداء والعمليات الحالية ، وبالتالي تطوير مؤسسة مدعومة مع الضرورة
            </div>
          </div>
          <a class="pbmit-btn" routerLink="/service-details">
									<span class="pbmit-button-content-wrapper">
										<span class="pbmit-button-icon pbmit-align-icon-right">
											<svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
												<title>black-arrow</title>
												<path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
												<path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
												<path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
											</svg>
										</span>
										<span class="pbmit-button-text">عرض جميع الخدمات</span>
									</span>
          </a>
        </div>
      </div>
      <div class="col-md-12 col-lg-7 pbmit-servicebox-right">
        <article class="pbmit-service-style-4">
          <div class="pbminfotech-post-item">
            <div class="pbminfotech-box-content">
              <div class="pbmit-box-content-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img src="/assets/images/homepage-8/service/service-01.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="pbmit-box-content-inner">
                  <div class="pbmit-content-inner-wrap">
                    <div class="pbmit-contant-box">
                      <div class="pbmit-serv-cat">
                        <a routerLink="/service-details" rel="tag">طبيب القلب</a>
                      </div>
                      <h3 class="pbmit-service-title">
                        <a routerLink="/service-details">زرع قلب</a>
                      </h3>
                    </div>
                    <div class="pbmit-service-icon">
                      <i class="pbmit-xcare-icon pbmit-xcare-icon-gesundheit-1"></i>
                    </div>
                  </div>
                  <div class="pbmit-service-description">
                    الأطباء الطبيين الطبيين المتاحين في العيادة
                  </div>
                </div>
              </div>
              <a class="pbmit-service-btn" routerLink="/service-details" title="Heart Transplant">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
            </div>
            <a class="pbmit-link" routerLink="/service-details"></a>
          </div>
        </article>
        <article class="pbmit-service-style-4">
          <div class="pbminfotech-post-item">
            <div class="pbminfotech-box-content">
              <div class="pbmit-box-content-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img src="/assets/images/homepage-8/service/service-02.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="pbmit-box-content-inner">
                  <div class="pbmit-content-inner-wrap">
                    <div class="pbmit-contant-box">
                      <div class="pbmit-serv-cat">
                        <a routerLink="/service-details" rel="tag">أخصائي القلب والأوعية الدموية</a>
                      </div>
                      <h3 class="pbmit-service-title">
                        <a routerLink="/service-details">تصوير الأوعية التاجية</a>
                      </h3>
                    </div>
                    <div class="pbmit-service-icon">
                      <i class="pbmit-xcare-icon pbmit-xcare-icon-pills"></i>
                    </div>
                  </div>
                  <div class="pbmit-service-description">
                    الأطباء الطبيين الطبيين المتاحين في العيادة
                  </div>
                </div>
              </div>
              <a class="pbmit-service-btn" routerLink="/service-details" title="Coronary Angiogram">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
            </div>
            <a class="pbmit-link" routerLink="/service-details"></a>
          </div>
        </article>
        <article class="pbmit-service-style-4">
          <div class="pbminfotech-post-item">
            <div class="pbminfotech-box-content">
              <div class="pbmit-box-content-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img src="/assets/images/homepage-8/service/service-03.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="pbmit-box-content-inner">
                  <div class="pbmit-content-inner-wrap">
                    <div class="pbmit-contant-box">
                      <div class="pbmit-serv-cat">
                        <a routerLink="/service-details" rel="tag">علماء الفيزيولوجيا الكهربية</a>
                      </div>
                      <h3 class="pbmit-service-title">
                        <a routerLink="/service-details">علم القلب النووي</a>
                      </h3>
                    </div>
                    <div class="pbmit-service-icon">
                      <i class="pbmit-xcare-icon pbmit-xcare-icon-joint"></i>
                    </div>
                  </div>
                  <div class="pbmit-service-description">
                    الأطباء الطبيين الطبيين المتاحين في العيادة
                  </div>
                </div>
              </div>
              <a class="pbmit-service-btn" routerLink="/service-details" title="Nuclear Cardiology">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
            </div>
            <a class="pbmit-link" routerLink="/service-details"></a>
          </div>
        </article>
        <article class="pbmit-service-style-4">
          <div class="pbminfotech-post-item">
            <div class="pbminfotech-box-content">
              <div class="pbmit-box-content-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img src="/assets/images/homepage-8/service/service-04.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="pbmit-box-content-inner">
                  <div class="pbmit-content-inner-wrap">
                    <div class="pbmit-contant-box">
                      <div class="pbmit-serv-cat">
                        <a routerLink="/service-details" rel="tag">أخصائي أمراض القلب الغازية</a>
                      </div>
                      <h3 class="pbmit-service-title">
                        <a routerLink="/service-details">تمدد الأوعية الدموية إصلاح</a>
                      </h3>
                    </div>
                    <div class="pbmit-service-icon">
                      <i class="pbmit-xcare-icon pbmit-xcare-icon-ppe"></i>
                    </div>
                  </div>
                  <div class="pbmit-service-description">
                    الأطباء الطبيين الطبيين المتاحين في العيادة
                  </div>
                </div>
              </div>
              <a class="pbmit-service-btn" routerLink="/service-details" title="Aneurysm Repair">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
            </div>
            <a class="pbmit-link" routerLink="/service-details"></a>
          </div>
        </article>
        <article class="pbmit-service-style-4">
          <div class="pbminfotech-post-item">
            <div class="pbminfotech-box-content">
              <div class="pbmit-box-content-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img src="/assets/images/homepage-8/service/service-05.jpg" class="img-fluid" alt="">
                  </div>
                </div>
                <div class="pbmit-box-content-inner">
                  <div class="pbmit-content-inner-wrap">
                    <div class="pbmit-contant-box">
                      <div class="pbmit-serv-cat">
                        <a routerLink="/service-details" rel="tag">طبيب القلب عند الأطفال</a>
                      </div>
                      <h3 class="pbmit-service-title">
                        <a routerLink="/service-details">تخطيط القلب</a>
                      </h3>
                    </div>
                    <div class="pbmit-service-icon">
                      <i class="pbmit-xcare-icon pbmit-xcare-icon-chemistry-1"></i>
                    </div>
                  </div>
                  <div class="pbmit-service-description">
                    الأطباء الطبيين الطبيين المتاحين في العيادة
                  </div>
                </div>
              </div>
              <a class="pbmit-service-btn" routerLink="/service-details" title="Electrocardiography">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
            </div>
            <a class="pbmit-link" routerLink="/service-details"></a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
