<section class="section-xl pbminfotech-ele-ptable-style-1">
  <div class="container">
    <div class="pbmit-heading-subheading">
      <h4 class="pbmit-subtitle">السعر الخاص بي</h4>
      <h2 class="pbmit-title-1">اختر اشتراكًا</h2>
    </div>
    <div class="pbmit-ptable-cols row">
      <div class="pbmit-ptable-col col-lg-4 col-md-6 col-sm-12">
        <div class="pbmit-pricing-table-box">
          <div class="pbmit-head-wrap">
            <div class="pbminfotech-ptable-desc">طبي</div>
            <h3 class="pbminfotech-ptable-heading">أساسي</h3>
            <div class="pbminfotech-sep"></div>
            <div class="pbmit-price-wrapper">
              <div class="pbmit-ptable-icon">
                <div class="pbmit-ptable-icon-wrapper"></div>
              </div>
              <div class="pbmit-ptable-price-w">
                <div class="pbminfotech-ptable-symbol">$</div>
                <div class="pbminfotech-ptable-price">17</div>
              </div>
              <div class="pbminfotech-ptable-frequency">/ شهر</div>
            </div>
          </div>
          <div class="pbmit-ptable-inner">
            <div class="pbmit-ptable-lines-w">
              <div class="pbmit-ptable-line">
                <i class="ti-check"></i> 100 اختبار &amp; العلاجات
              </div>
              <div class="pbmit-ptable-line">
                <i class=""></i> فحوصات صحية منتظمة
              </div>
              <div class="pbmit-ptable-line">
                <i class="ti-check"></i> فحص روتيني حتى
              </div>
              <div class="pbmit-ptable-line">
                <i class=""></i> فحص الدم
              </div>
            </div>
            <div class="pbminfotech-ptable-btn">
              <div class="pbmit-button">
                <a href="#">
                  <span class="pbmit-button-text">شراء الآن</span>
                  <span class="pbmit-button-icon-wrapper">
													<span class="pbmit-button-icon">
														<i class="pbmit-base-icon-black-arrow-1"></i>
													</span>
												</span>
                </a>
              </div>
            </div>
          </div>
          <div class="pbmit-feature-wrap"></div>
        </div>
      </div>
      <div class="pbmit-pricing-table-featured-col pbmit-ptable-col col-lg-4 col-md-6 col-sm-12">
        <div class="pbmit-pricing-table-box">
          <div class="pbmit-head-wrap">
            <div class="pbminfotech-ptable-desc">فحص</div>
            <h3 class="pbminfotech-ptable-heading">يتقدم</h3>
            <div class="pbminfotech-sep"></div>
            <div class="pbmit-price-wrapper">
              <div class="pbmit-ptable-icon">
                <div class="pbmit-ptable-icon-wrapper"></div>
              </div>
              <div class="pbmit-ptable-price-w">
                <div class="pbminfotech-ptable-symbol">$</div>
                <div class="pbminfotech-ptable-price">51</div>
              </div>
              <div class="pbminfotech-ptable-frequency">/ شهر</div>
            </div>
          </div>
          <div class="pbmit-ptable-inner">
            <div class="pbmit-ptable-lines-w">
              <div class="pbmit-ptable-line">
                <i class=""></i> فحص روتيني حتى
              </div>
              <div class="pbmit-ptable-line">
                <i class="ti-check"></i> فحوصات صحية منتظمة
              </div>
              <div class="pbmit-ptable-line">
                <i class="ti-check"></i>فحص الدم
              </div>
              <div class="pbmit-ptable-line">
                <i class="ti-check"></i> 100 الاختبارات &amp; العلاجات
              </div>
            </div>
            <div class="pbminfotech-ptable-btn">
              <div class="pbmit-button">
                <a href="#">
                  <span class="pbmit-button-text">شراء الآن</span>
                  <span class="pbmit-button-icon-wrapper">
													<span class="pbmit-button-icon">
														<i class="pbmit-base-icon-black-arrow-1"></i>
													</span>
												</span>
                </a>
              </div>
            </div>
          </div>
          <div class="pbmit-feature-wrap">
            <div class="pbmit-ptablebox-featured-w"></div>
          </div>
        </div>
      </div>
      <div class="pbmit-ptable-col col-lg-4 col-md-6 col-sm-12">
        <div class="pbmit-pricing-table-box">
          <div class="pbmit-head-wrap">
            <div class="pbminfotech-ptable-desc">الرعاىة الصحية</div>
            <h3 class="pbminfotech-ptable-heading">مَشرُوع</h3>
            <div class="pbminfotech-sep"></div>
            <div class="pbmit-price-wrapper">
              <div class="pbmit-ptable-icon">
                <div class="pbmit-ptable-icon-wrapper"></div>
              </div>
              <div class="pbmit-ptable-price-w">
                <div class="pbminfotech-ptable-symbol">$</div>
                <div class="pbminfotech-ptable-price">99</div>
              </div>
              <div class="pbminfotech-ptable-frequency">/ شهر</div>
            </div>
          </div>
          <div class="pbmit-ptable-inner">
            <div class="pbmit-ptable-lines-w">
              <div class="pbmit-ptable-line">
                <i class="ti-check"></i> فحص الدم
              </div>
              <div class="pbmit-ptable-line">
                <i class="ti-check"></i> 100 الاختبارات &amp; العلاجات
              </div>
              <div class="pbmit-ptable-line">
                <i class="ti-check"></i> فحص روتيني حتى
              </div>
              <div class="pbmit-ptable-line">
                <i class="ti-check"></i> فحوصات صحية منتظمة
              </div>
            </div>
            <div class="pbminfotech-ptable-btn">
              <div class="pbmit-button">
                <a href="#">
                  <span class="pbmit-button-text">شراء الآن</span>
                  <span class="pbmit-button-icon-wrapper">
													<span class="pbmit-button-icon">
														<i class="pbmit-base-icon-black-arrow-1"></i>
													</span>
												</span>
                </a>
              </div>
            </div>
          </div>
          <div class="pbmit-feature-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</section>
