<app-title-bar
  title="من نحن"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
></app-title-bar>

<!--Inbox Start-->
<app-inbox></app-inbox>
<!--Inbox End-->

<!--Departments Start-->
<app-shard-departments></app-shard-departments>
<!--Departments End-->

<!--Services Start-->
<app-home-service></app-home-service>
<!--Services End-->

<!--Our Doctors Slider  Start-->
<app-our-doctors-slider></app-our-doctors-slider>
<!--Our Doctors Slider  End-->

<!-- Testimonial Start -->
<app-testimonial-bg-img></app-testimonial-bg-img>
<!-- Testimonial End -->

<!--Client Start-->
<app-clients></app-clients>
<!--Client End-->
