<section class="section-lgt">
  <div class="container">
    <div class="row">
      <article class="pbmit-static-box-style-2 col-md-6">
        <div class="pbmit-contentbox">
          <div class="pbmit-img">
            <img src="/assets/images/homepage-8/static-box-01.jpg" class="img-fluid" alt="Personalized Healthcare">
          </div>
          <div class="pbmit-contentbox-inner">
            <div class="pbmit-ihbox-icon">
              <i class="pbmit-xcare-icon pbmit-xcare-icon-appointment"></i>
            </div>
            <div class="pbminfotech-box-title">
              <h4> مرحبا بكم</h4>
            </div>
            <div class="pbminfotech-static-box-desc">الجمعية المصرية للاشعة والطب النووي  </div>
            <div class="pbmit-button">
              <a href="#">
                <span class="pbmit-button-text">إعرف المزيد</span>
                <span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-static-box-style-2 col-md-6">
        <div class="pbmit-contentbox">
          <div class="pbmit-img">
            <img src="/assets/images/homepage-8/static-box-02.jpg" class="img-fluid" alt="Nuclear StressTesting">
          </div>
          <div class="pbmit-contentbox-inner">
            <div class="pbmit-ihbox-icon">
              <i class="pbmit-xcare-icon pbmit-xcare-icon-laboratory"></i>
            </div>
            <div class="pbminfotech-box-title">
              <h4>اختبار الإجهاد النووي</h4>
            </div>
            <div class="pbminfotech-static-box-desc">الأطباء الطبيين الطبيين المتاحين في العيادة</div>
            <div class="pbmit-button">
              <a href="#">
                <span class="pbmit-button-text">معرفة المزيد</span>
                <span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
