<app-title-bar
  title="مدونة قابلة للفرز العمود 2"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
></app-title-bar>


<section class="section-lgx pbmit-sortable-yes pbmit-blog-column-three">
  <div class="container">
    <div class="pbmit-sortable-list">
      <ul class="pbmit-sortable-list-ul">
        <li><a href="#" class="pbmit-sortable-link pbmit-selected" data-sortby="*">الجميع</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="cardiologist">طبيب القلب</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="dentist">طبيب أسنان</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="neurologist">طبيب الأعصاب</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="osteopaths">عظام</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="physicians">الأطباء</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="surgeon">دكتور جراح</a></li>
      </ul>
    </div>
    <div class="pbmit-element-posts-wrapper row multi-columns-row">
      <article class="pbmit-blog-style-1 cardiologist col-md-6">
        <div class="post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-featured-container">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/blog/blog-01.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <a class="pbmit-blog-btn" routerLink="/blog-details">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
              <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                <div class="pbmit-meta-category">
                  <a routerLink="/blog-classic" rel="category tag">طبيب القلب</a>
                </div>
              </div>
              <a class="pbmit-link" routerLink="/blog-details"></a>
            </div>
            <div class="pbmit-category-date-wraper d-flex align-items-center">
              <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                <div class="pbmit-meta-date">
												<span class="pbmit-post-date">
													<i class="pbmit-base-icon-calendar-3"></i>أغسطس  29. 2023
												</span>
                </div>
              </div>
              <div class="pbmit-meta-author pbmit-meta-line">
											<span class="pbmit-post-author">
												<i class="pbmit-base-icon-user-3"></i>مسؤل
											</span>
              </div>
            </div>
            <div class="pbmit-content-wrapper">
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details">ما هو السبب في أن الكثير من كبار السن ليسوا نشطين؟</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-blog-style-1 dentist col-md-6">
        <div class="post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-featured-container">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/blog/blog-02.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <a class="pbmit-blog-btn" routerLink="/blog-details">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
              <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                <div class="pbmit-meta-category">
                  <a routerLink="/blog-classic" rel="category tag">طبيب أسنان</a>
                </div>
              </div>
              <a class="pbmit-link" routerLink="/blog-details"></a>
            </div>
            <div class="pbmit-category-date-wraper d-flex align-items-center">
              <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                <div class="pbmit-meta-date">
												<span class="pbmit-post-date">
													<i class="pbmit-base-icon-calendar-3"></i>أغسطس  29. 2023
												</span>
                </div>
              </div>
              <div class="pbmit-meta-author pbmit-meta-line">
											<span class="pbmit-post-author">
												<i class="pbmit-base-icon-user-3"></i>مسؤل
											</span>
              </div>
            </div>
            <div class="pbmit-content-wrapper">
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details">أهم معدات جهاز التنفس الصناعي المتاحة</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-blog-style-1 neurologist col-md-6">
        <div class="post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-featured-container">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/blog/blog-03.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <a class="pbmit-blog-btn" routerLink="/blog-details">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
              <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                <div class="pbmit-meta-category">
                  <a routerLink="/blog-classic" rel="category tag">طبيب الأعصاب</a>
                </div>
              </div>
              <a class="pbmit-link" routerLink="/blog-details"></a>
            </div>
            <div class="pbmit-category-date-wraper d-flex align-items-center">
              <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                <div class="pbmit-meta-date">
												<span class="pbmit-post-date">
													<i class="pbmit-base-icon-calendar-3"></i>أغسطس  29. 2023
												</span>
                </div>
              </div>
              <div class="pbmit-meta-author pbmit-meta-line">
											<span class="pbmit-post-author">
												<i class="pbmit-base-icon-user-3"></i>مسؤل
											</span>
              </div>
            </div>
            <div class="pbmit-content-wrapper">
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details">سرطانات الدم: العلامات المبكرة والأعراض والمعهد</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-blog-style-1 osteopaths col-md-6">
        <div class="post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-featured-container">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/blog/blog-04.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <a class="pbmit-blog-btn" routerLink="/blog-details">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
              <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                <div class="pbmit-meta-category">
                  <a routerLink="/blog-classic" rel="category tag">عظمية</a>
                </div>
              </div>
              <a class="pbmit-link" routerLink="/blog-details"></a>
            </div>
            <div class="pbmit-category-date-wraper d-flex align-items-center">
              <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                <div class="pbmit-meta-date">
												<span class="pbmit-post-date">
													<i class="pbmit-base-icon-calendar-3"></i>أغسطس  29. 2023
												</span>
                </div>
              </div>
              <div class="pbmit-meta-author pbmit-meta-line">
											<span class="pbmit-post-author">
												<i class="pbmit-base-icon-user-3"></i>مسؤل
											</span>
              </div>
            </div>
            <div class="pbmit-content-wrapper">
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details">أفضل ورعاية جراحين العظام في المستشفى</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-blog-style-1 physicians col-md-6">
        <div class="post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-featured-container">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/blog/blog-05.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <a class="pbmit-blog-btn" routerLink="/blog-details">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
              <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                <div class="pbmit-meta-category">
                  <a routerLink="/blog-classic" rel="category tag">الأطباء</a>
                </div>
              </div>
              <a class="pbmit-link" routerLink="/blog-details"></a>
            </div>
            <div class="pbmit-category-date-wraper d-flex align-items-center">
              <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                <div class="pbmit-meta-date">
												<span class="pbmit-post-date">
													<i class="pbmit-base-icon-calendar-3"></i>أغسطس  29. 2023
												</span>
                </div>
              </div>
              <div class="pbmit-meta-author pbmit-meta-line">
											<span class="pbmit-post-author">
												<i class="pbmit-base-icon-user-3"></i>مسؤل
											</span>
              </div>
            </div>
            <div class="pbmit-content-wrapper">
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details">اضطراب الخلايا والليزر يضيء الوراثة</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-blog-style-1 surgeon col-md-6">
        <div class="post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-featured-container">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/blog/blog-06.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <a class="pbmit-blog-btn" routerLink="/blog-details">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
              <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                <div class="pbmit-meta-category">
                  <a routerLink="/blog-classic" rel="category tag">دكتورجراح</a>
                </div>
              </div>
              <a class="pbmit-link" routerLink="/blog-details"></a>
            </div>
            <div class="pbmit-category-date-wraper d-flex align-items-center">
              <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                <div class="pbmit-meta-date">
												<span class="pbmit-post-date">
													<i class="pbmit-base-icon-calendar-3"></i>أغسطس  29. 2023
												</span>
                </div>
              </div>
              <div class="pbmit-meta-author pbmit-meta-line">
											<span class="pbmit-post-author">
												<i class="pbmit-base-icon-user-3"></i>ضابط
											</span>
              </div>
            </div>
            <div class="pbmit-content-wrapper">
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details">افعلولاتفعلأوالاحتياطاتبعدجراحةالساد</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-blog-style-1 cardiologist col-md-6">
        <div class="post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-featured-container">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/blog/blog-07.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <a class="pbmit-blog-btn" routerLink="/blog-details">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
              <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                <div class="pbmit-meta-category">
                  <a routerLink="/blog-classic" rel="category tag">طبيب القلب</a>
                </div>
              </div>
              <a class="pbmit-link" routerLink="/blog-details"></a>
            </div>
            <div class="pbmit-category-date-wraper d-flex align-items-center">
              <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                <div class="pbmit-meta-date">
												<span class="pbmit-post-date">
													<i class="pbmit-base-icon-calendar-3"></i>أغسطس  29. 2023
												</span>
                </div>
              </div>
              <div class="pbmit-meta-author pbmit-meta-line">
											<span class="pbmit-post-author">
												<i class="pbmit-base-icon-user-3"></i>مسؤل
											</span>
              </div>
            </div>
            <div class="pbmit-content-wrapper">
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details">طب الأسنان أو الزرع.ما هو الخيار الأفضل؟</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-blog-style-1 neurologist col-md-6">
        <div class="post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-featured-container">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/blog/blog-08.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <a class="pbmit-blog-btn" routerLink="/blog-details">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
              <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                <div class="pbmit-meta-category">
                  <a routerLink="/blog-classic" rel="category tag">طبيب الأعصاب</a>
                </div>
              </div>
              <a class="pbmit-link" routerLink="/blog-details"></a>
            </div>
            <div class="pbmit-category-date-wraper d-flex align-items-center">
              <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                <div class="pbmit-meta-date">
												<span class="pbmit-post-date">
													<i class="pbmit-base-icon-calendar-3"></i>أغسطس  29. 2023
												</span>
                </div>
              </div>
              <div class="pbmit-meta-author pbmit-meta-line">
											<span class="pbmit-post-author">
												<i class="pbmit-base-icon-user-3"></i>مسؤل
											</span>
              </div>
            </div>
            <div class="pbmit-content-wrapper">
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details">يجب قراءة دليل السلامة لموسم أنفلونزا الخنازير</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-blog-style-1 surgeon col-md-6">
        <div class="post-item">
          <div class="pbminfotech-box-content">
            <div class="pbmit-featured-container">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/blog/blog-09.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <a class="pbmit-blog-btn" routerLink="/blog-details">
											<span class="pbmit-button-icon-wrapper">
												<span class="pbmit-button-icon">
													<i class="pbmit-base-icon-black-arrow-1"></i>
												</span>
											</span>
              </a>
              <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                <div class="pbmit-meta-category">
                  <a routerLink="/blog-classic" rel="category tag">دكتور جراح</a>
                </div>
              </div>
              <a class="pbmit-link" routerLink="/blog-details"></a>
            </div>
            <div class="pbmit-category-date-wraper d-flex align-items-center">
              <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                <div class="pbmit-meta-date">
												<span class="pbmit-post-date">
													<i class="pbmit-base-icon-calendar-3"></i>يوليو  17. 2023
												</span>
                </div>
              </div>
              <div class="pbmit-meta-author pbmit-meta-line">
											<span class="pbmit-post-author">
												<i class="pbmit-base-icon-user-3"></i>مسؤل
											</span>
              </div>
            </div>
            <div class="pbmit-content-wrapper">
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details">تناول الالتهاب الرئوي الفيروسي مع ARDS الشديد ، CKD</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
