<section class="section-xl">
  <div class="container">
    <div class="position-relative">
      <div class="pbmit-heading-subheading">
        <h4 class="pbmit-subtitle">فريقنا</h4>
        <h2 class="pbmit-title1">أطبائنا المتخصصين</h2>
      </div>
      <div class="team_arrow swiper-btn-custom d-flex flex-row-reverse"></div>
    </div>
    <div
      class="swiper-slider"
      data-arrows-class="team_arrow"
      data-autoplay="false"
      data-loop="true"
      data-dots="false"
      data-arrows="true"
      data-columns="4"
      data-margin="30"
      data-effect="slide"
    >
      <div class="swiper-wrapper">
        <!-- Slide1 -->
        <div class="swiper-slide">
          <article class="pbmit-team-style-1">
            <div class="pbminfotech-post-item">
              <div class="pbmit-featured-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img
                      src="/assets/images/homepage-1/team/team-01.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
                <div class="pbmit-team-btn">
                  <a class="pbmit-team-text" href="#">
                    <i class="pbmit-base-icon-share-1"></i>
                  </a>
                  <div class="pbminfotech-box-social-links">
                    <ul class="pbmit-social-links pbmit-team-social-links">
                      <li class="pbmit-social-li pbmit-social-facebook">
                        <a href="#" title="Facebook" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-facebook-f"></i
                          ></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-twitter">
                        <a href="#" title="Twitter" target="_blank">
                          <span><i class="pbmit-base-icon-twitter-2"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-instagram">
                        <a href="#" title="Instagram" target="_blank">
                          <span><i class="pbmit-base-icon-instagram"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-youtube">
                        <a href="#" title="Youtube" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-youtube-play"></i
                          ></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-box-content-inner">
                  <div class="pbminfotech-box-team-position">
                    طبيب امراض قلب
                  </div>
                  <h3 class="pbmit-team-title">
                    <a routerLink="/team-single-detail"> محمد حمدى</a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide2 -->
        <div class="swiper-slide">
          <article class="pbmit-team-style-1">
            <div class="pbminfotech-post-item">
              <div class="pbmit-featured-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img
                      src="/assets/images/homepage-1/team/team-02.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
                <div class="pbmit-team-btn">
                  <a class="pbmit-team-text" href="#">
                    <i class="pbmit-base-icon-share-1"></i>
                  </a>
                  <div class="pbminfotech-box-social-links">
                    <ul class="pbmit-social-links pbmit-team-social-links">
                      <li class="pbmit-social-li pbmit-social-facebook">
                        <a href="#" title="Facebook" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-facebook-f"></i
                          ></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-twitter">
                        <a href="#" title="Twitter" target="_blank">
                          <span><i class="pbmit-base-icon-twitter-2"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-instagram">
                        <a href="#" title="Instagram" target="_blank">
                          <span><i class="pbmit-base-icon-instagram"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-youtube">
                        <a href="#" title="Youtube" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-youtube-play"></i
                          ></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-box-content-inner">
                  <div class="pbminfotech-box-team-position">
                    طبيبة جراحات التجميل
                  </div>
                  <h3 class="pbmit-team-title">
                    <a routerLink="/team-single-detail"> منى عزام</a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide3 -->
        <div class="swiper-slide">
          <article class="pbmit-team-style-1">
            <div class="pbminfotech-post-item">
              <div class="pbmit-featured-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img
                      src="/assets/images/homepage-1/team/team-03.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
                <div class="pbmit-team-btn">
                  <a class="pbmit-team-text" href="#">
                    <i class="pbmit-base-icon-share-1"></i>
                  </a>
                  <div class="pbminfotech-box-social-links">
                    <ul class="pbmit-social-links pbmit-team-social-links">
                      <li class="pbmit-social-li pbmit-social-facebook">
                        <a href="#" title="Facebook" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-facebook-f"></i
                          ></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-twitter">
                        <a href="#" title="Twitter" target="_blank">
                          <span><i class="pbmit-base-icon-twitter-2"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-instagram">
                        <a href="#" title="Instagram" target="_blank">
                          <span><i class="pbmit-base-icon-instagram"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-youtube">
                        <a href="#" title="Youtube" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-youtube-play"></i
                          ></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-box-content-inner">
                  <div class="pbminfotech-box-team-position">طبيب نفسى</div>
                  <h3 class="pbmit-team-title">
                    <a routerLink="/team-single-detail"> مى مصطفى </a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide4 -->
        <div class="swiper-slide">
          <article class="pbmit-team-style-1">
            <div class="pbminfotech-post-item">
              <div class="pbmit-featured-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img
                      src="/assets/images/homepage-1/team/team-04.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
                <div class="pbmit-team-btn">
                  <a class="pbmit-team-text" href="#">
                    <i class="pbmit-base-icon-share-1"></i>
                  </a>
                  <div class="pbminfotech-box-social-links">
                    <ul class="pbmit-social-links pbmit-team-social-links">
                      <li class="pbmit-social-li pbmit-social-facebook">
                        <a href="#" title="Facebook" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-facebook-f"></i
                          ></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-twitter">
                        <a href="#" title="Twitter" target="_blank">
                          <span><i class="pbmit-base-icon-twitter-2"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-instagram">
                        <a href="#" title="Instagram" target="_blank">
                          <span><i class="pbmit-base-icon-instagram"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-youtube">
                        <a href="#" title="Youtube" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-youtube-play"></i
                          ></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-box-content-inner">
                  <div class="pbminfotech-box-team-position">امارض المناعة</div>
                  <h3 class="pbmit-team-title">
                    <a routerLink="/team-single-detail">هبة الصاوى </a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide5 -->
        <div class="swiper-slide">
          <article class="pbmit-team-style-1">
            <div class="pbminfotech-post-item">
              <div class="pbmit-featured-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img
                      src="/assets/images/homepage-1/team/team-05.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
                <div class="pbmit-team-btn">
                  <a class="pbmit-team-text" href="#">
                    <i class="pbmit-base-icon-share-1"></i>
                  </a>
                  <div class="pbminfotech-box-social-links">
                    <ul class="pbmit-social-links pbmit-team-social-links">
                      <li class="pbmit-social-li pbmit-social-facebook">
                        <a href="#" title="Facebook" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-facebook-f"></i
                          ></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-twitter">
                        <a href="#" title="Twitter" target="_blank">
                          <span><i class="pbmit-base-icon-twitter-2"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-instagram">
                        <a href="#" title="Instagram" target="_blank">
                          <span><i class="pbmit-base-icon-instagram"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-youtube">
                        <a href="#" title="Youtube" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-youtube-play"></i
                          ></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-box-content-inner">
                  <div class="pbminfotech-box-team-position">جراح عام</div>
                  <h3 class="pbmit-team-title">
                    <a routerLink="/team-single-detail">هلا الرشيدى </a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide6 -->
        <div class="swiper-slide">
          <article class="pbmit-team-style-1">
            <div class="pbminfotech-post-item">
              <div class="pbmit-featured-wrap">
                <div class="pbmit-featured-img-wrapper">
                  <div class="pbmit-featured-wrapper">
                    <img
                      src="/assets/images/homepage-1/team/team-06.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                </div>
                <div class="pbmit-team-btn">
                  <a class="pbmit-team-text" href="#">
                    <i class="pbmit-base-icon-share-1"></i>
                  </a>
                  <div class="pbminfotech-box-social-links">
                    <ul class="pbmit-social-links pbmit-team-social-links">
                      <li class="pbmit-social-li pbmit-social-facebook">
                        <a href="#" title="Facebook" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-facebook-f"></i
                          ></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-twitter">
                        <a href="#" title="Twitter" target="_blank">
                          <span><i class="pbmit-base-icon-twitter-2"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-instagram">
                        <a href="#" title="Instagram" target="_blank">
                          <span><i class="pbmit-base-icon-instagram"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-youtube">
                        <a href="#" title="Youtube" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-youtube-play"></i
                          ></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-box-content-inner">
                  <div class="pbminfotech-box-team-position">أسنان</div>
                  <h3 class="pbmit-team-title">
                    <a routerLink="/team-single-detail"> مروة العزب</a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
