<app-title-bar
  title="أعضاء فريقنا"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
></app-title-bar>

<!-- Team Start -->
<section class="section-lgx">
  <div class="container">
    <div class="row pbmit-element-posts-wrapper">
      <article class="pbmit-team-style-1 col-md-6 col-lg-3">
        <div class="pbminfotech-post-item">
          <div class="pbmit-featured-wrap">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <img
                  src="/assets/images/team/team-01.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="pbmit-team-btn">
              <a class="pbmit-team-text" href="#">
                <i class="pbmit-base-icon-share-1"></i>
              </a>
              <div class="pbminfotech-box-social-links">
                <ul class="pbmit-social-links pbmit-team-social-links">
                  <li class="pbmit-social-li pbmit-social-facebook">
                    <a href="#" title="Facebook" target="_blank">
                      <span><i class="pbmit-base-icon-facebook-f"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-twitter">
                    <a href="#" title="Twitter" target="_blank">
                      <span><i class="pbmit-base-icon-twitter-2"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-instagram">
                    <a href="#" title="Instagram" target="_blank">
                      <span><i class="pbmit-base-icon-instagram"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-youtube">
                    <a href="#" title="Youtube" target="_blank">
                      <span><i class="pbmit-base-icon-youtube-play"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-box-content-inner">
              <div class="pbminfotech-box-team-position">طبيب القلب</div>
              <h3 class="pbmit-team-title">
                <a routerLink="/team-single-detail"> مرزوق العزب </a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-team-style-1 col-md-6 col-lg-3">
        <div class="pbminfotech-post-item">
          <div class="pbmit-featured-wrap">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <img
                  src="/assets/images/team/team-02.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="pbmit-team-btn">
              <a class="pbmit-team-text" href="#">
                <i class="pbmit-base-icon-share-1"></i>
              </a>
              <div class="pbminfotech-box-social-links">
                <ul class="pbmit-social-links pbmit-team-social-links">
                  <li class="pbmit-social-li pbmit-social-facebook">
                    <a href="#" title="Facebook" target="_blank">
                      <span><i class="pbmit-base-icon-facebook-f"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-twitter">
                    <a href="#" title="Twitter" target="_blank">
                      <span><i class="pbmit-base-icon-twitter-2"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-instagram">
                    <a href="#" title="Instagram" target="_blank">
                      <span><i class="pbmit-base-icon-instagram"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-youtube">
                    <a href="#" title="Youtube" target="_blank">
                      <span><i class="pbmit-base-icon-youtube-play"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-box-content-inner">
              <div class="pbminfotech-box-team-position">دكتور امراض نساء</div>
              <h3 class="pbmit-team-title">
                <a routerLink="/team-single-detail">مريم الملا </a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-team-style-1 col-md-6 col-lg-3">
        <div class="pbminfotech-post-item">
          <div class="pbmit-featured-wrap">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <img
                  src="/assets/images/team/team-03.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="pbmit-team-btn">
              <a class="pbmit-team-text" href="#">
                <i class="pbmit-base-icon-share-1"></i>
              </a>
              <div class="pbminfotech-box-social-links">
                <ul class="pbmit-social-links pbmit-team-social-links">
                  <li class="pbmit-social-li pbmit-social-facebook">
                    <a href="#" title="Facebook" target="_blank">
                      <span><i class="pbmit-base-icon-facebook-f"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-twitter">
                    <a href="#" title="Twitter" target="_blank">
                      <span><i class="pbmit-base-icon-twitter-2"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-instagram">
                    <a href="#" title="Instagram" target="_blank">
                      <span><i class="pbmit-base-icon-instagram"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-youtube">
                    <a href="#" title="Youtube" target="_blank">
                      <span><i class="pbmit-base-icon-youtube-play"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-box-content-inner">
              <div class="pbminfotech-box-team-position">جراحة عامة</div>
              <h3 class="pbmit-team-title">
                <a routerLink="/team-single-detail"> فؤاد وافى</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-team-style-1 col-md-6 col-lg-3">
        <div class="pbminfotech-post-item">
          <div class="pbmit-featured-wrap">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <img
                  src="/assets/images/team/team-04.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="pbmit-team-btn">
              <a class="pbmit-team-text" href="#">
                <i class="pbmit-base-icon-share-1"></i>
              </a>
              <div class="pbminfotech-box-social-links">
                <ul class="pbmit-social-links pbmit-team-social-links">
                  <li class="pbmit-social-li pbmit-social-facebook">
                    <a href="#" title="Facebook" target="_blank">
                      <span><i class="pbmit-base-icon-facebook-f"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-twitter">
                    <a href="#" title="Twitter" target="_blank">
                      <span><i class="pbmit-base-icon-twitter-2"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-instagram">
                    <a href="#" title="Instagram" target="_blank">
                      <span><i class="pbmit-base-icon-instagram"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-youtube">
                    <a href="#" title="Youtube" target="_blank">
                      <span><i class="pbmit-base-icon-youtube-play"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-box-content-inner">
              <div class="pbminfotech-box-team-position">عظام</div>
              <h3 class="pbmit-team-title">
                <a routerLink="/team-single-detail">بولا كريلس</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-team-style-1 col-md-6 col-lg-3">
        <div class="pbminfotech-post-item">
          <div class="pbmit-featured-wrap">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <img
                  src="/assets/images/team/team-05.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="pbmit-team-btn">
              <a class="pbmit-team-text" href="#">
                <i class="pbmit-base-icon-share-1"></i>
              </a>
              <div class="pbminfotech-box-social-links">
                <ul class="pbmit-social-links pbmit-team-social-links">
                  <li class="pbmit-social-li pbmit-social-facebook">
                    <a href="#" title="Facebook" target="_blank">
                      <span><i class="pbmit-base-icon-facebook-f"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-twitter">
                    <a href="#" title="Twitter" target="_blank">
                      <span><i class="pbmit-base-icon-twitter-2"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-instagram">
                    <a href="#" title="Instagram" target="_blank">
                      <span><i class="pbmit-base-icon-instagram"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-youtube">
                    <a href="#" title="Youtube" target="_blank">
                      <span><i class="pbmit-base-icon-youtube-play"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-box-content-inner">
              <div class="pbminfotech-box-team-position">اسنان</div>
              <h3 class="pbmit-team-title">
                <a routerLink="/team-single-detail"> كارلا سامح</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-team-style-1 col-md-6 col-lg-3">
        <div class="pbminfotech-post-item">
          <div class="pbmit-featured-wrap">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <img
                  src="/assets/images/team/team-06.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="pbmit-team-btn">
              <a class="pbmit-team-text" href="#">
                <i class="pbmit-base-icon-share-1"></i>
              </a>
              <div class="pbminfotech-box-social-links">
                <ul class="pbmit-social-links pbmit-team-social-links">
                  <li class="pbmit-social-li pbmit-social-facebook">
                    <a href="#" title="Facebook" target="_blank">
                      <span><i class="pbmit-base-icon-facebook-f"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-twitter">
                    <a href="#" title="Twitter" target="_blank">
                      <span><i class="pbmit-base-icon-twitter-2"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-instagram">
                    <a href="#" title="Instagram" target="_blank">
                      <span><i class="pbmit-base-icon-instagram"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-youtube">
                    <a href="#" title="Youtube" target="_blank">
                      <span><i class="pbmit-base-icon-youtube-play"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-box-content-inner">
              <div class="pbminfotech-box-team-position">طبيب أسنان</div>
              <h3 class="pbmit-team-title">
                <a routerLink="/team-single-detail">مى العليلى</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-team-style-1 col-md-6 col-lg-3">
        <div class="pbminfotech-post-item">
          <div class="pbmit-featured-wrap">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <img
                  src="/assets/images/team/team-07.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="pbmit-team-btn">
              <a class="pbmit-team-text" href="#">
                <i class="pbmit-base-icon-share-1"></i>
              </a>
              <div class="pbminfotech-box-social-links">
                <ul class="pbmit-social-links pbmit-team-social-links">
                  <li class="pbmit-social-li pbmit-social-facebook">
                    <a href="#" title="Facebook" target="_blank">
                      <span><i class="pbmit-base-icon-facebook-f"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-twitter">
                    <a href="#" title="Twitter" target="_blank">
                      <span><i class="pbmit-base-icon-twitter-2"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-instagram">
                    <a href="#" title="Instagram" target="_blank">
                      <span><i class="pbmit-base-icon-instagram"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-youtube">
                    <a href="#" title="Youtube" target="_blank">
                      <span><i class="pbmit-base-icon-youtube-play"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-box-content-inner">
              <div class="pbminfotech-box-team-position">عظام</div>
              <h3 class="pbmit-team-title">
                <a routerLink="/team-single-detail">مصطفى فتحى</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-team-style-1 col-md-6 col-lg-3">
        <div class="pbminfotech-post-item">
          <div class="pbmit-featured-wrap">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <img
                  src="/assets/images/team/team-08.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="pbmit-team-btn">
              <a class="pbmit-team-text" href="#">
                <i class="pbmit-base-icon-share-1"></i>
              </a>
              <div class="pbminfotech-box-social-links">
                <ul class="pbmit-social-links pbmit-team-social-links">
                  <li class="pbmit-social-li pbmit-social-facebook">
                    <a href="#" title="Facebook" target="_blank">
                      <span><i class="pbmit-base-icon-facebook-f"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-twitter">
                    <a href="#" title="Twitter" target="_blank">
                      <span><i class="pbmit-base-icon-twitter-2"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-instagram">
                    <a href="#" title="Instagram" target="_blank">
                      <span><i class="pbmit-base-icon-instagram"></i></span>
                    </a>
                  </li>
                  <li class="pbmit-social-li pbmit-social-youtube">
                    <a href="#" title="Youtube" target="_blank">
                      <span><i class="pbmit-base-icon-youtube-play"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-box-content-inner">
              <div class="pbminfotech-box-team-position">طبيب القلب</div>
              <h3 class="pbmit-team-title">
                <a routerLink="/team-single-detail">جيمي محمود</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
<!-- Team End -->
