<app-home-slider></app-home-slider>

<app-static-box></app-static-box>

<app-home-about-us></app-home-about-us>

<app-home-departments></app-home-departments>

<app-home-features> </app-home-features>

<app-home-inbox></app-home-inbox>

<section class="section-lgt portfolio_two">
  <div class="container-fluid p-0">
    <div class="swiper-slider portfolio-two_slider" data-autoplay="false" data-loop="true" data-dots="false" data-arrows="false" data-columns="4" data-margin="30" data-effect="slide">
      <div class="swiper-wrapper">
        <!-- Slide1 -->
        <div class="swiper-slide">
          <article class="pbmit-portfolio-style-2">
            <div class="pbminfotech-post-content">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/portfolio/project-01.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-titlebox">
                  <div class="pbmit-port-cat">
                    <a routerLink="/portfolio-grid-col-2" rel="tag">صحة</a>
                  </div>
                  <h3 class="pbmit-portfolio-title">
                    <a routerLink="/departments/details">جراحة الأبهر</a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide2 -->
        <div class="swiper-slide">
          <article class="pbmit-portfolio-style-2">
            <div class="pbminfotech-post-content">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/portfolio/project-02.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-titlebox">
                  <div class="pbmit-port-cat">
                    <a routerLink="/portfolio-grid-col-2" rel="tag">طبيب القلب</a>
                  </div>
                  <h3 class="pbmit-portfolio-title">
                    <a routerLink="/departments/details">القلب CT</a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide3 -->
        <div class="swiper-slide">
          <article class="pbmit-portfolio-style-2">
            <div class="pbminfotech-post-content">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/portfolio/project-03.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-titlebox">
                  <div class="pbmit-port-cat">
                    <a routerLink="/portfolio-grid-col-2" rel="tag">مقابل</a>
                  </div>
                  <h3 class="pbmit-portfolio-title">
                    <a routerLink="/departments/details">علاج مرض الصمام</a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide4 -->
        <div class="swiper-slide">
          <article class="pbmit-portfolio-style-2">
            <div class="pbminfotech-post-content">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/portfolio/project-04.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-titlebox">
                  <div class="pbmit-port-cat">
                    <a routerLink="/portfolio-grid-col-2" rel="tag">بحث</a>
                  </div>
                  <h3 class="pbmit-portfolio-title">
                    <a routerLink="/departments/details">أمراض القلب التداخلية</a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide5 -->
        <div class="swiper-slide">
          <article class="pbmit-portfolio-style-2">
            <div class="pbminfotech-post-content">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/portfolio/project-05.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-titlebox">
                  <div class="pbmit-port-cat">
                    <a routerLink="/portfolio-grid-col-2" rel="tag">دكتور جراح</a>
                  </div>
                  <h3 class="pbmit-portfolio-title">
                    <a routerLink="/departments/details">تخطيط القلب هولتر</a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide6 -->
        <div class="swiper-slide">
          <article class="pbmit-portfolio-style-2">
            <div class="pbminfotech-post-content">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img src="/assets/images/homepage-8/portfolio/project-06.jpg" class="img-fluid" alt="">
                </div>
              </div>
              <div class="pbminfotech-box-content">
                <div class="pbminfotech-titlebox">
                  <div class="pbmit-port-cat">
                    <a routerLink="/portfolio-grid-col-2" rel="tag">العلاجات</a>
                  </div>
                  <h3 class="pbmit-portfolio-title">
                    <a routerLink="/departments/details">تخطيط صدى القلب</a>
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<app-our-doctors-slider-hover></app-our-doctors-slider-hover>

<app-home-features></app-home-features>

<app-home-blog></app-home-blog>
