<section class="section-lgt">
  <div class="container">
    <div class="pbmit-heading-subheading text-center">
      <h4 class="pbmit-subtitle">فوائدنا</h4>
      <h2 class="pbmit-title-1">ما الذي يمكن أن تقدمه لك</h2>
    </div>
    <div class="ihbox-eight-area">
      <div class="row g-0 align-items-center">
        <div class="col-md-3 pbmit-inner-column-1">
          <div class="pbmit-ihbox-style-31">
            <div class="pbmit-ihbox-box d-flex">
              <div class="pbmit-ihbox-icon">
                <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                  <i class="pbmit-xcare-icon pbmit-xcare-icon-gesundheit"></i>
                </div>
              </div>
              <div class="pbmit-ihbox-contents">
                <h2 class="pbmit-element-title">خبير الرعاية الصحية</h2>
                <div class="pbmit-heading-desc">أطبائنا هم الصحة التي رعاية &amp; أخصائي القلب.</div>
              </div>
            </div>
          </div>
          <div class="pbmit-ihbox-style-31 mt-5">
            <div class="pbmit-ihbox-box d-flex">
              <div class="pbmit-ihbox-icon">
                <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                  <i class="pbmit-xcare-icon pbmit-xcare-icon-doctor"></i>
                </div>
              </div>
              <div class="pbmit-ihbox-contents">
                <h2 class="pbmit-element-title">الأطباء المؤهلين</h2>
                <div class="pbmit-heading-desc">طبيبنا المتخصص للمرضى في مؤتمر عبر الإنترنت.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 pbmit-inner-column-2">
          <div class="stethoscope-img">
            <img src="/assets/images/homepage-8/stethoscope.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-md-3 pbmit-inner-column-3">
          <div class="right-box">
            <div class="pbmit-ihbox-style-31">
              <div class="pbmit-ihbox-box d-flex">
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                    <i class="pbmit-xcare-icon pbmit-xcare-icon-gesundheit-1"></i>
                  </div>
                </div>
                <div class="pbmit-ihbox-contents">
                  <h2 class="pbmit-element-title">الرعاية الوقائية</h2>
                  <div class="pbmit-heading-desc">أطبائنا هم الصحة التي رعاية &amp; أخصائي القلب.</div>
                </div>
              </div>
            </div>
            <div class="pbmit-ihbox-style-31 mt-5">
              <div class="pbmit-ihbox-box d-flex">
                <div class="pbmit-ihbox-icon">
                  <div class="pbmit-ihbox-icon-wrapper pbmit-icon-type-icon">
                    <i class="pbmit-xcare-icon pbmit-xcare-icon-live-chat"></i>
                  </div>
                </div>
                <div class="pbmit-ihbox-contents">
                  <h2 class="pbmit-element-title">24/7 خدمات</h2>
                  <div class="pbmit-heading-desc">طبيبنا المتخصص للمرضى في مؤتمر عبر الإنترنت.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
