<app-title-bar
  title="أمراض القلب"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
  [subtitle]="['مَلَفّ ', 'بحث ']"
></app-title-bar>

<!-- Single Detail Style 1 -->
<section class="portfolio_single site_content">
  <div class="container">
    <article class="pbmit-portfolio-single">
      <div class="pbmit-featured-img-wrapper">
        <img
          src="/assets/images/project/project-single-01.jpg"
          class="img-fluid w-100"
          alt=""
        />
      </div>
      <div class="pbmit-single-project-details-list">
        <div class="pbmit-portfolio-lines-wrapper">
          <ul class="pbmit-portfolio-lines-ul">
            <li class="pbmit-portfolio-line-li">
              <span class="pbmit-portfolio-line-title">عميل : </span>
              <span class="pbmit-portfolio-line-value">مريم نيس</span>
            </li>
            <li class="pbmit-portfolio-line-li">
              <span class="pbmit-portfolio-line-title">بطاقة شعار : </span>
              <span class="pbmit-portfolio-line-value">
                <a href="#" rel="tag">بحث</a>
              </span>
            </li>
            <li class="pbmit-portfolio-line-li">
              <span class="pbmit-portfolio-line-title">فئة : </span>
              <span class="pbmit-portfolio-line-value">تحفيز</span>
            </li>
            <li class="pbmit-portfolio-line-li">
              <span class="pbmit-portfolio-line-title">تاريخ : </span>
              <span class="pbmit-portfolio-line-value">03-11-2023</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="pbmit-pf-entry-content">
        <div class="pbmit-heading animation-style2">
          <h3 class="pbmit-title1 mb-3">وصف للعلاج الطبيعي</h3>
        </div>
        <p class="pbmit-firstletter">
          يعد مستقبلي الطبي أحد أفضل الموارد عبر الإنترنت للتعرف على التكنولوجيا
          في المجال الطبي.هناك شعور حقيقي بالشك في أن في انتقاد المتعة في الهواء
          الطلق يعاني Ess Cull من كرة القدم لتجنب أي فقرة.باستثناء أنهم يتوقون
          إلى فعل الستائر ، فهم يخطئون في أن الخدمات تتخلى عن الروح التي هي
          الوجبات الخفيفة.ومع ذلك ، لمواجهة ما ينتج عنه كل منشور من الطبيب
          العازف وعازف الوراثة ، وهي مدونة تغطي تقنيات جديدة تستهدف العديد من
          التخصصات.
        </p>
        <p>
          إذا قمت بتشغيل بحث عبر الإنترنت عن المدونات الطبية ، فستواجه مئات
          النتائج.ومعرفة المصادر ذات السمعة الطيبة التي يمكن أن تستغرق الكثير من
          الوقت.للمساعدة في تخفيف هذه العملية ، قمنا بتجميع هذه القائمة التي تضم
          55 من المدونات الطبية المفضلة لدينا ، يمكن للجميع في هذا المجال أن
          يتعلمها ما إذا كنت طبيباً لسنوات ، أو كنت تريد ببساطة معرفة كيف تفكر
          في كلية الطب جيدًا-قرارات مخصصة حول صحتك الخاصة ، هناك شيء ما في هذه
          القائمة للجميع.حافظ على هذه القائمة من المدونات الطبية في متناول يديك
          والإجابات على الطبية الخاصة بك.
        </p>
        <div class="project-single-img_box">
          <div class="row">
            <div class="col-md-6">
              <div class="pbmit-animation-style1">
                <img
                  src="/assets/images/project/project-single-02.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="pbmit-animation-style2">
                <img
                  src="/assets/images/project/project-single-03.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class="pbmit-heading animation-style2">
          <h3 class="pbmit-title1">ما هي خياراتي لرعاية العلاج الطبيعي</h3>
        </div>
        <p>
          ناقشت العرض التقديمي مع المريض للتأكد من أنه كان لديه فهم جيد للمشكلة
          والنتيجة المحتملة للعلاج.لقد تعاملت مع الأوتار الضعيفة والمؤلمة مع
          تعبئة الأنسجة الرخوة ، والتدليك ، والتمدد ، وبرنامج تعزيز متدرج.يتألف
          مبرمجي تقويةه من سلسلة من الوزن والعمل ، وكذلك باستخدام كرة .لأن هذه
          تتطلب عمومًا أدلة أقوى.
        </p>
        <ul class="list-group list-group-borderless">
          <li class="list-group-item">
            <span class="pbmit-icon-list-icon">
              <i aria-hidden="true" class="ti-check"></i>
            </span>
            <span class="pbmit-icon-list-text"
              >الأطعمة النشوية هي مجموعة طعام رئيسية في الأكل الصحي</span
            >
          </li>
          <li class="list-group-item">
            <span class="pbmit-icon-list-icon">
              <i aria-hidden="true" class="ti-check"></i>
            </span>
            <span class="pbmit-icon-list-text"
              >الناس ينامون أقل بكثير مما فعلوا في الماضي</span
            >
          </li>
          <li class="list-group-item">
            <span class="pbmit-icon-list-icon">
              <i aria-hidden="true" class="ti-check"></i>
            </span>
            <span class="pbmit-icon-list-text"
              >لا تدخن أو تستخدم المخدرات ، وتشرب فقط بالاعتدال</span
            >
          </li>
          <li class="list-group-item">
            <span class="pbmit-icon-list-icon">
              <i aria-hidden="true" class="ti-check"></i>
            </span>
            <span class="pbmit-icon-list-text"
              >جسمك مليء بتريليونات من البكتيريا والفيروسات والفطريات</span
            >
          </li>
        </ul>
        <div class="ihbox-style-18_box">
          <div class="row">
            <article class="pbmit-miconheading-style-18 col-md-6 col-lg-3">
              <div class="pbmit-ihbox-style-18">
                <div class="pbmit-ihbox-headingicon">
                  <div class="pbmit-icon-wrap">
                    <div class="pbmit-ihbox-wrapper">
                      <div class="pbmit-ihbox-icon-type-image">
                        <img
                          src="/assets/images/homepage-3/process-img-01.jpg"
                          alt="Make Appointment"
                        />
                      </div>
                    </div>
                    <div class="pbmit-ihbox-box-number">01</div>
                  </div>
                  <div class="pbmit-ihbox-contents">
                    <h2 class="pbmit-element-title">حدد موعدا</h2>
                    <div class="pbmit-heading-desc">
                      إذا كنت بحاجة إلى أي مساعدة في حجز موعد ، فيرجى الاتصال
                      بنا
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="pbmit-miconheading-style-18 col-md-6 col-lg-3">
              <div class="pbmit-ihbox-style-18">
                <div class="pbmit-ihbox-headingicon">
                  <div class="pbmit-icon-wrap">
                    <div class="pbmit-ihbox-wrapper">
                      <div class="pbmit-ihbox-icon-type-image">
                        <img
                          src="/assets/images/homepage-3/process-img-02.jpg"
                          alt="Select Doctor"
                        />
                      </div>
                    </div>
                    <div class="pbmit-ihbox-box-number">02</div>
                  </div>
                  <div class="pbmit-ihbox-contents">
                    <h2 class="pbmit-element-title">حدد الطبيب</h2>
                    <div class="pbmit-heading-desc">
                      حدد واحدة من القائمة وانتقل من خلال ملف تعريف الطبيب
                      وأطباء الأطباء
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="pbmit-miconheading-style-18 col-md-6 col-lg-3">
              <div class="pbmit-ihbox-style-18">
                <div class="pbmit-ihbox-headingicon">
                  <div class="pbmit-icon-wrap">
                    <div class="pbmit-ihbox-wrapper">
                      <div class="pbmit-ihbox-icon-type-image">
                        <img
                          src="/assets/images/homepage-3/process-img-03.jpg"
                          alt="Get Consultation"
                        />
                      </div>
                    </div>
                    <div class="pbmit-ihbox-box-number">03</div>
                  </div>
                  <div class="pbmit-ihbox-contents">
                    <h2 class="pbmit-element-title">احصل على التشاور</h2>
                    <div class="pbmit-heading-desc">
                      تواصل على الفور مع أخصائي 24 × 7 أو اختر فيديو قم بزيارة
                      طبيب معين.
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="pbmit-miconheading-style-18 col-md-6 col-lg-3">
              <div class="pbmit-ihbox-style-18">
                <div class="pbmit-ihbox-headingicon">
                  <div class="pbmit-icon-wrap">
                    <div class="pbmit-ihbox-wrapper">
                      <div class="pbmit-ihbox-icon-type-image">
                        <img
                          src="/assets/images/homepage-3/process-img-04.jpg"
                          alt="Get Cure & Relief"
                        />
                      </div>
                    </div>
                    <div class="pbmit-ihbox-box-number">04</div>
                  </div>
                  <div class="pbmit-ihbox-contents">
                    <h2 class="pbmit-element-title">احصل على العلاج والراحة</h2>
                    <div class="pbmit-heading-desc">
                      إن علاج المرض يعني أنه قد انتهى تمامًا ولا يعود
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="pbmit-heading animation-style2">
          <h3 class="pbmit-title1 mb-3">ماذا يقول مريضنا عن الرعاية</h3>
        </div>
        <p>
          تم إهدار العضلات في ساعده وكتفيه كانت طويلة.لم تكن هناك علامات على خلل
          في العظام أو أعصاب أو إصابة ناعمة كبيرة في الأنسجة.كان لديه حركة جيدة
          ، ولكن تم تقليل قوته على كلا الجانبين على قوة قبضة والمعصم على وجه
          الخصوص.كان كتفه أيضًا ضعيفًا قليلاً في الكفة المدورة.كان لديه ألم في
          ملامسة مساعديه بشكل عام ، وخاصة .
        </p>
        <div class="pbmit-ihbox-style-21">
          <div class="pbmit-ihbox-headingicon">
            <div class="pbmit-ihbox-contents">
              <h2 class="pbmit-element-title">
                لن يعطي طبيب المستقبل أي دواء ولكنه لن يهتم بمرضاه في رعاية
                الإطار البشري ، في النظام الغذائي وفي سبب المرض والوقاية منه.
              </h2>
              <h4 class="pbmit-element-heading">بولا الذي</h4>
            </div>
          </div>
        </div>
      </div>
      <nav class="navigation post-navigation" aria-label="Posts">
        <div class="nav-links">
          <div class="nav-previous">
            <a href="#" rel="prev">
              <span class="pbmit-post-nav-icon">
                <i class="pbmit-base-icon-left-arrow-1"></i>
                <span class="pbmit-post-nav-head">المنشور السابق</span>
              </span>
              <span class="pbmit-post-nav-wrapper">
                <span class="pbmit-post-nav nav-title">جراحة الأطفال</span>
              </span>
            </a>
          </div>
          <div class="nav-next">
            <a href="#" rel="next">
              <span class="pbmit-post-nav-icon">
                <span class="pbmit-post-nav-head">المنشور التالى </span>
                <i class="pbmit-base-icon-next"></i>
              </span>
              <span class="pbmit-post-nav-wrapper">
                <span class="pbmit-post-nav nav-title">فوق البطيني</span>
              </span>
            </a>
          </div>
        </div>
      </nav>
    </article>
  </div>
</section>
<!-- Single Detail Style 1 End -->
