<section>
  <div class="container pbmit-col-stretched-yes pbmit-col-left">
    <div class="row g-0">
      <div class="col-md-12 col-xl-6 position-relative">
        <div class="pbmit-col-stretched-left contact-form-one_bg"></div>
      </div>
      <div class="col-md-12 col-xl-6">
        <div class="contact-form-one_right pbmit-bg-color-white">
          <div class="pbmit-heading-subheading">
            <h4 class="pbmit-subtitle">إتصل بنا</h4>
            <h2 class="pbmit-title-1">حدد موعدًا يتقدم بطلب للحصول على علاجات</h2>
          </div>
          <form>
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="اسمك *" name="name">
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" placeholder="بريدك الالكتروني *" name="email-address">
              </div>
              <div class="col-md-6">
                <input type="tel" class="form-control" placeholder="هاتفك *" name="phone-number">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="العنوان" name="subject">
              </div>
              <div class="col-md-12">
                <textarea name="message" cols="40" rows="10" class="form-control" placeholder="رسالة"></textarea>
              </div>
              <div class="col-md-12">
                <a class="pbmit-btn" href="#">
												<span class="pbmit-button-content-wrapper">
													<span class="pbmit-button-icon pbmit-align-icon-right">
														<svg xmlns="http://www.w3.org/2000/svg" width="22.76" height="22.76" viewBox="0 0 22.76 22.76">
															<title>black-arrow</title>
															<path d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
															<path d="M22.34,1a14.67,14.67,0,0,0,0,20.75" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
															<path d="M22.34,1,1,22.34" transform="translate(-0.29 -0.29)" fill="none" stroke="#000" stroke-width="2"></path>
														</svg>
													</span>
													<span class="pbmit-button-text">أرسل الآن</span>
												</span>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<app-clients></app-clients>
