<app-title-bar
  title="تاريخنا"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
></app-title-bar>

<!-- Inbox -->
<section class="section-xl">
  <div class="container">
    <div class="pbmit-heading-subheading text-center">
      <h4 class="pbmit-subtitle">عملية</h4>
      <h2 class="pbmit-title1">كيف يساعدك ذلك على البقاء <br />قويًا</h2>
    </div>
    <div
      class="swiper-slider"
      data-loop="true"
      data-autoplay="false"
      data-dots="false"
      data-arrows="false"
      data-columns="4"
      data-margin="30"
      data-effect="slide"
    >
      <div class="swiper-wrapper">
        <!-- Slide1 -->
        <article class="pbmit-miconheading-style-18 swiper-slide">
          <div class="pbmit-ihbox-style-18">
            <div class="pbmit-ihbox-headingicon">
              <div class="pbmit-icon-wrap">
                <div class="pbmit-ihbox-wrapper">
                  <div class="pbmit-ihbox-icon-type-image">
                    <img
                      src="/assets/images/homepage-3/process-img-01.jpg"
                      alt="Make Appointment"
                    />
                  </div>
                </div>
                <div class="pbmit-ihbox-box-number">01</div>
              </div>
              <div class="pbmit-ihbox-contents">
                <h2 class="pbmit-element-title">إحجز لدينا</h2>
                <div class="pbmit-heading-desc">
                  إذا كنت بحاجة إلى أي مساعدة في حجز موعد، يرجى الاتصال بنا
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- Slide2 -->
        <article class="pbmit-miconheading-style-18 swiper-slide">
          <div class="pbmit-ihbox-style-18">
            <div class="pbmit-ihbox-headingicon">
              <div class="pbmit-icon-wrap">
                <div class="pbmit-ihbox-wrapper">
                  <div class="pbmit-ihbox-icon-type-image">
                    <img
                      src="/assets/images/homepage-3/process-img-02.jpg"
                      alt="Select Doctor"
                    />
                  </div>
                </div>
                <div class="pbmit-ihbox-box-number">02</div>
              </div>
              <div class="pbmit-ihbox-contents">
                <h2 class="pbmit-element-title">إختر الطبيب</h2>
                <div class="pbmit-heading-desc">
                  اختر واحدًا من القائمة وانتقل إلى الملف الشخصي للطبيب والأطباء
                  الذين رأيهم
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- Slide3 -->
        <article class="pbmit-miconheading-style-18 swiper-slide">
          <div class="pbmit-ihbox-style-18">
            <div class="pbmit-ihbox-headingicon">
              <div class="pbmit-icon-wrap">
                <div class="pbmit-ihbox-wrapper">
                  <div class="pbmit-ihbox-icon-type-image">
                    <img
                      src="/assets/images/homepage-3/process-img-03.jpg"
                      alt="Get Consultation"
                    />
                  </div>
                </div>
                <div class="pbmit-ihbox-box-number">03</div>
              </div>
              <div class="pbmit-ihbox-contents">
                <h2 class="pbmit-element-title">احصل على استشارة</h2>
                <div class="pbmit-heading-desc">
                  تواصل فورًا مع أحد المتخصصين على مدار 24 ساعة طوال أيام
                  الأسبوع أو اختر زيارة طبيب معين.
                </div>
              </div>
            </div>
          </div>
        </article>
        <!-- Slide4 -->
        <article class="pbmit-miconheading-style-18 swiper-slide">
          <div class="pbmit-ihbox-style-18">
            <div class="pbmit-ihbox-headingicon">
              <div class="pbmit-icon-wrap">
                <div class="pbmit-ihbox-wrapper">
                  <div class="pbmit-ihbox-icon-type-image">
                    <img
                      src="/assets/images/homepage-3/process-img-04.jpg"
                      alt="Get Cure & Relief"
                    />
                  </div>
                </div>
                <div class="pbmit-ihbox-box-number">04</div>
              </div>
              <div class="pbmit-ihbox-contents">
                <h2 class="pbmit-element-title">الحصول على العلاج والإغاثة</h2>
                <div class="pbmit-heading-desc">
                  إن الشفاء من المرض يعني أنه قد ذهب تماماً ولن يعود
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- Inbox end -->

<!-- History -->
<section class="section-xl pbmit-bg-color-global history_section">
  <div class="container p-0">
    <div class="pbmit-heading-subheading">
      <h4 class="pbmit-subtitle">تاريخنا</h4>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div
      class="swiper-slider pbmit-element-timeline-style-1"
      data-loop="false"
      data-autoplay="false"
      data-dots="false"
      data-arrows="false"
      data-columns="4"
      data-margin="30"
      data-effect="slide"
    >
      <div class="swiper-wrapper">
        <div class="pbmit-timeline-wrapper pbmit-slide-even swiper-slide">
          <!-- Slide1 -->
          <div class="pbmit-same-height steps-media pbmit-feature-image">
            <img
              src="/assets/images/history/award01.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="steps-dot">
            <span class="steps-dot-line"></span>
            <span class="dot"></span>
          </div>
          <div class="pbmit-same-height steps-content_wrap">
            <p class="pbmit-timeline-year">2010</p>
            <h3 class="pbmit-timeline-title">بدايتنا</h3>
            <p class="pbmit-timeline-desc">
              منذ عام 1986، كانت الشركة تسعى إلى تحقيق نخبة أديبيسينج، ولكن مر
              وقت طويل.
            </p>
          </div>
        </div>
        <div class="pbmit-timeline-wrapper swiper-slide">
          <!-- Slide2 -->
          <div class="pbmit-same-height steps-media pbmit-feature-image">
            <img
              src="/assets/images/history/award02.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="steps-dot">
            <span class="steps-dot-line"></span>
            <span class="dot"></span>
          </div>
          <div class="pbmit-same-height steps-content_wrap">
            <p class="pbmit-timeline-year">2012</p>
            <h3 class="pbmit-timeline-title">جوائز ويبي</h3>
            <p class="pbmit-timeline-desc">
              من افضل شهادات جودة الرعاية الطبية العالمية تمنح فقط لمن هم حاصلين
              على درجات تقييم كاملة
            </p>
          </div>
        </div>
        <div class="pbmit-timeline-wrapper pbmit-slide-even swiper-slide">
          <!-- Slide3 -->
          <div class="pbmit-same-height steps-media pbmit-feature-image">
            <img
              src="/assets/images/history/award03.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="steps-dot">
            <span class="steps-dot-line"></span>
            <span class="dot"></span>
          </div>
          <div class="pbmit-same-height steps-content_wrap">
            <p class="pbmit-timeline-year">2014</p>
            <h3 class="pbmit-timeline-title">الميدالية الذهبية</h3>
            <p class="pbmit-timeline-desc">
              حصلنا عليها بعد تقييم للعمل استمر لعدة سنوات متتالية ونحن نحافظ
              على الصدارة دائما بفضل الله
            </p>
          </div>
        </div>
        <div class="pbmit-timeline-wrapper swiper-slide">
          <!-- Slide4 -->
          <div class="pbmit-same-height steps-media pbmit-feature-image">
            <img
              src="/assets/images/history/award04.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="steps-dot">
            <span class="steps-dot-line"></span>
            <span class="dot"></span>
          </div>
          <div class="pbmit-same-height steps-content_wrap">
            <p class="pbmit-timeline-year">2016</p>
            <h3 class="pbmit-timeline-title">وسام الحرية</h3>
            <p class="pbmit-timeline-desc">
              منح لنا من قبل الولايات المتحده الامريكية نتيجة لمساهتمنا المتعدده
              ف الابتكار العلاجى الوقائى للحماية من الأوبئة المنتشرة عاللميا
            </p>
          </div>
        </div>
        <div class="pbmit-timeline-wrapper pbmit-slide-even swiper-slide">
          <!-- Slide5 -->
          <div class="pbmit-same-height steps-media pbmit-feature-image">
            <img
              src="/assets/images/history/award01.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="steps-dot">
            <span class="steps-dot-line"></span>
            <span class="dot"></span>
          </div>
          <div class="pbmit-same-height steps-content_wrap">
            <p class="pbmit-timeline-year">2018</p>
            <h3 class="pbmit-timeline-title">خبراء الجراحة</h3>
            <p class="pbmit-timeline-desc">
              منحت لفريقنا من الجراحين مع النجاح ف اكثر العمليات القلبية الاكثر
              تعقيدا بنسب نجاح مرتفع فاق ال 93%
            </p>
          </div>
        </div>
        <div class="pbmit-timeline-wrapper swiper-slide">
          <!-- Slide6 -->
          <div class="pbmit-same-height steps-media pbmit-feature-image">
            <img
              src="/assets/images/history/award03.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="steps-dot">
            <span class="steps-dot-line"></span>
            <span class="dot"></span>
          </div>
          <div class="pbmit-same-height steps-content_wrap">
            <p class="pbmit-timeline-year">2021</p>
            <h3 class="pbmit-timeline-title">جائزة الرعاية الصحية</h3>
            <p class="pbmit-timeline-desc">
              تمنحها المملكة العربية السعودية كشهادة اعتماد لاى موسسة طبيه
              لتستطيع العمل داخل حدودها
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- History End -->

<!-- Blog Start -->
<section class="section-xl pbmit-blog-column-three">
  <div class="container">
    <div class="position-relative">
      <div class="pbmit-heading-subheading animation-style2">
        <h4 class="pbmit-subtitle">المقالات</h4>
        <h2 class="pbmit-title1">أحدث المشاركات والمقالات</h2>
      </div>
      <div
        class="blog-swiper_arrow swiper-btn-custom d-flex flex-row-reverse"
      ></div>
    </div>
    <div
      class="swiper-slider"
      data-arrows-class="blog-swiper_arrow"
      data-autoplay="false"
      data-loop="true"
      data-dots="false"
      data-arrows="true"
      data-columns="3"
      data-margin="30"
      data-effect="slide"
    >
      <div class="swiper-wrapper">
        <!-- Slide1 -->
        <div class="swiper-slide">
          <article class="pbmit-blog-style-1">
            <div class="post-item">
              <div class="pbminfotech-box-content">
                <div class="pbmit-featured-container">
                  <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                      <img
                        src="/assets/images/homepage-1/blog/blog-01.jpg"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                  <a class="pbmit-blog-btn" routerLink="/blog-details">
                    <span class="pbmit-button-icon-wrapper">
                      <span class="pbmit-button-icon">
                        <i class="pbmit-base-icon-black-arrow-1"></i>
                      </span>
                    </span>
                  </a>
                  <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-category">
                      <a routerLink="/blog-classic" rel="category tag"
                        >طبيب قلب</a
                      >
                    </div>
                  </div>
                  <a class="pbmit-link" routerLink="/blog-details"></a>
                </div>
                <div
                  class="pbmit-category-date-wraper d-flex align-items-center"
                >
                  <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-date">
                      <span class="pbmit-post-date">
                        <i class="pbmit-base-icon-calendar-3"></i>اغسطس 29. 2023
                      </span>
                    </div>
                  </div>
                  <div class="pbmit-meta-author pbmit-meta-line">
                    <span class="pbmit-post-author">
                      <i class="pbmit-base-icon-user-3"></i>الأدمن
                    </span>
                  </div>
                </div>
                <div class="pbmit-content-wrapper">
                  <h3 class="pbmit-post-title">
                    <a routerLink="/blog-details"
                      >ما هو السبب وراء عدم نشاط الكثير من كبار السن؟</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide2 -->
        <div class="swiper-slide">
          <article class="pbmit-blog-style-1">
            <div class="post-item">
              <div class="pbminfotech-box-content">
                <div class="pbmit-featured-container">
                  <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                      <img
                        src="/assets/images/homepage-1/blog/blog-02.jpg"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                  <a class="pbmit-blog-btn" routerLink="/blog-details">
                    <span class="pbmit-button-icon-wrapper">
                      <span class="pbmit-button-icon">
                        <i class="pbmit-base-icon-black-arrow-1"></i>
                      </span>
                    </span>
                  </a>
                  <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-category">
                      <a routerLink="/blog-classic" rel="category tag"
                        >طبيب اسنان</a
                      >
                    </div>
                  </div>
                  <a class="pbmit-link" routerLink="/blog-details"></a>
                </div>
                <div
                  class="pbmit-category-date-wraper d-flex align-items-center"
                >
                  <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-date">
                      <span class="pbmit-post-date">
                        <i class="pbmit-base-icon-calendar-3"></i>اغسطس 30. 2023
                      </span>
                    </div>
                  </div>
                  <div class="pbmit-meta-author pbmit-meta-line">
                    <span class="pbmit-post-author">
                      <i class="pbmit-base-icon-user-3"></i>الأدمن
                    </span>
                  </div>
                </div>
                <div class="pbmit-content-wrapper">
                  <h3 class="pbmit-post-title">
                    <a routerLink="/blog-details"
                      >أهم معدات التنفس الصناعي وغيرها متوفرة هنا.</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide3 -->
        <div class="swiper-slide">
          <article class="pbmit-blog-style-1">
            <div class="post-item">
              <div class="pbminfotech-box-content">
                <div class="pbmit-featured-container">
                  <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                      <img
                        src="/assets/images/homepage-1/blog/blog-03.jpg"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                  <a class="pbmit-blog-btn" routerLink="/blog-details">
                    <span class="pbmit-button-icon-wrapper">
                      <span class="pbmit-button-icon">
                        <i class="pbmit-base-icon-black-arrow-1"></i>
                      </span>
                    </span>
                  </a>
                  <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-category">
                      <a routerLink="/blog-classic" rel="category tag"
                        >طبيب اعصاب</a
                      >
                    </div>
                  </div>
                  <a class="pbmit-link" routerLink="/blog-details"></a>
                </div>
                <div
                  class="pbmit-category-date-wraper d-flex align-items-center"
                >
                  <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-date">
                      <span class="pbmit-post-date">
                        <i class="pbmit-base-icon-calendar-3"></i>قبراير 13.
                        2024
                      </span>
                    </div>
                  </div>
                  <div class="pbmit-meta-author pbmit-meta-line">
                    <span class="pbmit-post-author">
                      <i class="pbmit-base-icon-user-3"></i>الأدمن
                    </span>
                  </div>
                </div>
                <div class="pbmit-content-wrapper">
                  <h3 class="pbmit-post-title">
                    <a routerLink="/blog-details"
                      >الهدوء والاسترخاء والبعد عن الضغط علاج فعال ضد الإكتئاب
                      كيف ؟</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide4 -->
        <div class="swiper-slide">
          <article class="pbmit-blog-style-1">
            <div class="post-item">
              <div class="pbminfotech-box-content">
                <div class="pbmit-featured-container">
                  <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                      <img
                        src="/assets/images/homepage-1/blog/blog-04.jpg"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                  <a class="pbmit-blog-btn" routerLink="/blog-details">
                    <span class="pbmit-button-icon-wrapper">
                      <span class="pbmit-button-icon">
                        <i class="pbmit-base-icon-black-arrow-1"></i>
                      </span>
                    </span>
                  </a>
                  <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-category">
                      <a routerLink="/blog-classic" rel="category tag"
                        >أطباء العظام</a
                      >
                    </div>
                  </div>
                  <a class="pbmit-link" routerLink="/blog-details"></a>
                </div>
                <div
                  class="pbmit-category-date-wraper d-flex align-items-center"
                >
                  <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-date">
                      <span class="pbmit-post-date">
                        <i class="pbmit-base-icon-calendar-3"></i>أغسطس 29. 2023
                      </span>
                    </div>
                  </div>
                  <div class="pbmit-meta-author pbmit-meta-line">
                    <span class="pbmit-post-author">
                      <i class="pbmit-base-icon-user-3"></i>الأدمن
                    </span>
                  </div>
                </div>
                <div class="pbmit-content-wrapper">
                  <h3 class="pbmit-post-title">
                    <a routerLink="/blog-details"
                      >أفضل ورعاية جراحي العظام في المستشفى</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide5 -->
        <div class="swiper-slide">
          <article class="pbmit-blog-style-1">
            <div class="post-item">
              <div class="pbminfotech-box-content">
                <div class="pbmit-featured-container">
                  <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                      <img
                        src="/assets/images/homepage-1/blog/blog-05.jpg"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                  <a class="pbmit-blog-btn" routerLink="/blog-details">
                    <span class="pbmit-button-icon-wrapper">
                      <span class="pbmit-button-icon">
                        <i class="pbmit-base-icon-black-arrow-1"></i>
                      </span>
                    </span>
                  </a>
                  <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-category">
                      <a routerLink="/blog-classic" rel="category tag"
                        >الأطباء</a
                      >
                    </div>
                  </div>
                  <a class="pbmit-link" routerLink="/blog-details"></a>
                </div>
                <div
                  class="pbmit-category-date-wraper d-flex align-items-center"
                >
                  <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-date">
                      <span class="pbmit-post-date">
                        <i class="pbmit-base-icon-calendar-3"></i>أغسطس 29. 2023
                      </span>
                    </div>
                  </div>
                  <div class="pbmit-meta-author pbmit-meta-line">
                    <span class="pbmit-post-author">
                      <i class="pbmit-base-icon-user-3"></i>الأدمن
                    </span>
                  </div>
                </div>
                <div class="pbmit-content-wrapper">
                  <h3 class="pbmit-post-title">
                    <a routerLink="/blog-details"
                      >اضطراب الخلايا والليزر يسلط الضوء على علم الوراثة</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- Slide6 -->
        <div class="swiper-slide">
          <article class="pbmit-blog-style-1">
            <div class="post-item">
              <div class="pbminfotech-box-content">
                <div class="pbmit-featured-container">
                  <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                      <img
                        src="/assets/images/homepage-1/blog/blog-06.jpg"
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                  </div>
                  <a class="pbmit-blog-btn" routerLink="/blog-details">
                    <span class="pbmit-button-icon-wrapper">
                      <span class="pbmit-button-icon">
                        <i class="pbmit-base-icon-black-arrow-1"></i>
                      </span>
                    </span>
                  </a>
                  <div class="pbmit-meta-cat-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-category">
                      <a routerLink="/blog-classic" rel="category tag"
                        >دكتور جراح</a
                      >
                    </div>
                  </div>
                  <a class="pbmit-link" routerLink="/blog-details"></a>
                </div>
                <div
                  class="pbmit-category-date-wraper d-flex align-items-center"
                >
                  <div class="pbmit-meta-date-wrapper pbmit-meta-line">
                    <div class="pbmit-meta-date">
                      <span class="pbmit-post-date">
                        <i class="pbmit-base-icon-calendar-3"></i>أغطسطس 29.
                        2023
                      </span>
                    </div>
                  </div>
                  <div class="pbmit-meta-author pbmit-meta-line">
                    <span class="pbmit-post-author">
                      <i class="pbmit-base-icon-user-3"></i>أدمن
                    </span>
                  </div>
                </div>
                <div class="pbmit-content-wrapper">
                  <h3 class="pbmit-post-title">
                    <a routerLink="/blog-details"
                      >ما يجب فعله وما لا يجب فعله أو الاحتياطات بعد جراحة إزالة
                      المياه البيضاء</a
                    >
                  </h3>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog End -->
