<app-title-bar
  title="المدونة"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
></app-title-bar>

<!-- Blog Classic -->
<section class="site_content blog_classic">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-9 blog-right-col">
        <div class="row pbmit-element-posts-wrapper">
          <article class="post blog-classic">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <a routerLink="/blog-details">
                  <img
                    src="/assets/images/blog/blog-01b.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <span class="pbmit-meta pbmit-meta-cat">
                <a routerLink="/blog-classic" rel="category tag">طبيب القلب</a>
              </span>
            </div>
            <div class="pbmit-blog-classic-inner">
              <div class="pbmit-blog-meta pbmit-blog-meta-top">
                <span class="pbmit-meta pbmit-meta-date">
                  <i class="pbmit-base-icon-calendar-3"></i>
                  <a routerLink="/blog-details" rel="bookmark">
                    <time
                      class="entry-date published"
                      datetime="2023-08-29T09:05:54+00:00"
                      >أغسطس 29, 2023</time
                    >
                    <time
                      class="updated pbmit-hide"
                      datetime="2023-10-19T05:42:54+00:00"
                      >اكتوبر 19, 2023</time
                    >
                  </a>
                </span>
                <span class="pbmit-meta pbmit-meta-author">
                  <i class="pbmit-base-icon-user-3"></i>by
                  <a class="pbmit-author-link" routerLink="/blog-details"
                    >مسؤل</a
                  >
                </span>
                <span
                  class="pbmit-meta pbmit-meta-comments pbmit-comment-bigger-than-zero"
                >
                  <i class="pbmit-base-icon-chat-3"></i>3 تعليقات
                </span>
              </div>
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details"
                  >ما هو السبب في أن الكثير من كبار السن ليسوا نشطين؟</a
                >
              </h3>
              <div class="pbmit-entry-content">
                <div class="pbmit-firstletter-blog">
                  <p>
                    يعد مستقبلي الطبي أحد أفضل الموارد عبر الإنترنت للتعرف على
                    التكنولوجيا في المجال الطبي.هناك شكوك في كل منشور من الطبيب
                    الطبي والعازف الوراثي Mesko ، وهي مدونة تغطي تقنيات جديدة
                    تستهدف العديد من التخصصات.اذا ركضت…
                  </p>
                </div>
                <a class="pbmit-btn" routerLink="/blog-details">
                  <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-icon pbmit-align-icon-right">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.76"
                        height="22.76"
                        viewBox="0 0 22.76 22.76"
                      >
                        <title>black-arrow</title>
                        <path
                          d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1,1,22.34"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                      </svg>
                    </span>
                    <span class="pbmit-button-text">اقرأ أكثر</span>
                  </span>
                </a>
              </div>
            </div>
          </article>
          <article class="post blog-classic">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <a routerLink="/blog-details">
                  <img
                    src="/assets/images/blog/blog-02b.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <span class="pbmit-meta pbmit-meta-cat">
                <a routerLink="/blog-classic" rel="category tag">طبيب أسنان</a>
              </span>
            </div>
            <div class="pbmit-blog-classic-inner">
              <div class="pbmit-blog-meta pbmit-blog-meta-top">
                <span class="pbmit-meta pbmit-meta-date">
                  <i class="pbmit-base-icon-calendar-3"></i>
                  <a routerLink="/blog-details" rel="bookmark">
                    <time
                      class="entry-date published"
                      datetime="2023-08-29T09:05:54+00:00"
                      >أغسطس 29, 2023</time
                    >
                    <time
                      class="updated pbmit-hide"
                      datetime="2023-10-19T05:42:54+00:00"
                      >اكتوبر 19, 2023</time
                    >
                  </a>
                </span>
                <span class="pbmit-meta pbmit-meta-author">
                  <i class="pbmit-base-icon-user-3"></i>بواسطة
                  <a class="pbmit-author-link" routerLink="/blog-details"
                    >مسؤل</a
                  >
                </span>
                <span
                  class="pbmit-meta pbmit-meta-comments pbmit-comment-bigger-than-zero"
                >
                  <i class="pbmit-base-icon-chat-3"></i>3 تعليقات
                </span>
              </div>
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details"
                  >أهم معدات جهاز التنفس الصناعي المتاحة</a
                >
              </h3>
              <div class="pbmit-entry-content">
                <div class="pbmit-firstletter-blog">
                  <p>
                    يعد مستقبلي الطبي أحد أفضل الموارد عبر الإنترنت للتعرف على
                    التكنولوجيا في المجال الطبي.هناك شكوك في كل منشور من الطبيب
                    الطبي والعازف الوراثي Mesko ، وهي مدونة تغطي تقنيات جديدة
                    تستهدف العديد من التخصصات.اذا ركضت…
                  </p>
                </div>
                <a class="pbmit-btn" routerLink="/blog-details">
                  <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-icon pbmit-align-icon-right">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.76"
                        height="22.76"
                        viewBox="0 0 22.76 22.76"
                      >
                        <title>black-arrow</title>
                        <path
                          d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1,1,22.34"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                      </svg>
                    </span>
                    <span class="pbmit-button-text">اقرأ أكثر</span>
                  </span>
                </a>
              </div>
            </div>
          </article>
          <article class="post blog-classic">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <a routerLink="/blog-details">
                  <img
                    src="/assets/images/blog/blog-03b.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <span class="pbmit-meta pbmit-meta-cat">
                <a routerLink="/blog-classic" rel="category tag"
                  >طبيب الأعصاب</a
                >
              </span>
            </div>
            <div class="pbmit-blog-classic-inner">
              <div class="pbmit-blog-meta pbmit-blog-meta-top">
                <span class="pbmit-meta pbmit-meta-date">
                  <i class="pbmit-base-icon-calendar-3"></i>
                  <a routerLink="/blog-details" rel="bookmark">
                    <time
                      class="entry-date published"
                      datetime="2023-08-29T09:05:54+00:00"
                      >أغسطس 29, 2023</time
                    >
                    <time
                      class="updated pbmit-hide"
                      datetime="2023-10-19T05:42:54+00:00"
                      >اكتوبر 19, 2023</time
                    >
                  </a>
                </span>
                <span class="pbmit-meta pbmit-meta-author">
                  <i class="pbmit-base-icon-user-3"></i>بواسطة
                  <a class="pbmit-author-link" routerLink="/blog-details"
                    >مسؤل</a
                  >
                </span>
                <span
                  class="pbmit-meta pbmit-meta-comments pbmit-comment-bigger-than-zero"
                >
                  <i class="pbmit-base-icon-chat-3"></i>3 تعليقات
                </span>
              </div>
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details"
                  >سرطانات الدم: العلامات المبكرة والأعراض والمعهد</a
                >
              </h3>
              <div class="pbmit-entry-content">
                <div class="pbmit-firstletter-blog">
                  <p>
                    يعد مستقبلي الطبي أحد أفضل الموارد عبر الإنترنت للتعرف على
                    التكنولوجيا في المجال الطبي.هناك شكوك في كل منشور من الطبيب
                    الطبي والعازف الوراثي Mesko ، وهي مدونة تغطي تقنيات جديدة
                    تستهدف العديد من التخصصات.اذا ركضت…
                  </p>
                </div>
                <a class="pbmit-btn" routerLink="/blog-details">
                  <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-icon pbmit-align-icon-right">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.76"
                        height="22.76"
                        viewBox="0 0 22.76 22.76"
                      >
                        <title>black-arrow</title>
                        <path
                          d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1,1,22.34"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                      </svg>
                    </span>
                    <span class="pbmit-button-text">اقرأأكثر</span>
                  </span>
                </a>
              </div>
            </div>
          </article>
          <article class="post blog-classic">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <a routerLink="/blog-details">
                  <img
                    src="/assets/images/blog/blog-04b.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <span class="pbmit-meta pbmit-meta-cat">
                <a routerLink="/blog-classic" rel="category tag">عظمية</a>
              </span>
            </div>
            <div class="pbmit-blog-classic-inner">
              <div class="pbmit-blog-meta pbmit-blog-meta-top">
                <span class="pbmit-meta pbmit-meta-date">
                  <i class="pbmit-base-icon-calendar-3"></i>
                  <a routerLink="/blog-details" rel="bookmark">
                    <time
                      class="entry-date published"
                      datetime="2023-08-29T09:05:54+00:00"
                      >أغسطس 29, 2023</time
                    >
                    <time
                      class="updated pbmit-hide"
                      datetime="2023-10-19T05:42:54+00:00"
                      >اكتوبر 19, 2023</time
                    >
                  </a>
                </span>
                <span class="pbmit-meta pbmit-meta-author">
                  <i class="pbmit-base-icon-user-3"></i>بواسطة
                  <a class="pbmit-author-link" routerLink="/blog-details"
                    >مسؤل</a
                  >
                </span>
                <span
                  class="pbmit-meta pbmit-meta-comments pbmit-comment-bigger-than-zero"
                >
                  <i class="pbmit-base-icon-chat-3"></i>3 تعليقات
                </span>
              </div>
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details"
                  >أفضل ورعاية جراحين العظام في المستشفى</a
                >
              </h3>
              <div class="pbmit-entry-content">
                <div class="pbmit-firstletter-blog">
                  <p>
                    يعد مستقبلي الطبي أحد أفضل الموارد عبر الإنترنت للتعرف على
                    التكنولوجيا في المجال الطبي.هناك شكوك في كل منشور من الطبيب
                    الطبي والعازف الوراثي Mesko ، وهي مدونة تغطي تقنيات جديدة
                    تستهدف العديد من التخصصات.اذا ركضت…
                  </p>
                </div>
                <a class="pbmit-btn" routerLink="/blog-details">
                  <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-icon pbmit-align-icon-right">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.76"
                        height="22.76"
                        viewBox="0 0 22.76 22.76"
                      >
                        <title>black-arrow</title>
                        <path
                          d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1,1,22.34"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                      </svg>
                    </span>
                    <span class="pbmit-button-text">اقرأأكثر</span>
                  </span>
                </a>
              </div>
            </div>
          </article>
          <article class="post blog-classic">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <a routerLink="/blog-details">
                  <img
                    src="/assets/images/blog/blog-05b.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <span class="pbmit-meta pbmit-meta-cat">
                <a routerLink="/blog-classic" rel="category tag">الأطباء</a>
              </span>
            </div>
            <div class="pbmit-blog-classic-inner">
              <div class="pbmit-blog-meta pbmit-blog-meta-top">
                <span class="pbmit-meta pbmit-meta-date">
                  <i class="pbmit-base-icon-calendar-3"></i>
                  <a routerLink="/blog-details" rel="bookmark">
                    <time
                      class="entry-date published"
                      datetime="2023-08-29T09:05:54+00:00"
                      >أغسطس 29, 2023</time
                    >
                    <time
                      class="updated pbmit-hide"
                      datetime="2023-10-19T05:42:54+00:00"
                      >اكتوبر 19, 2023</time
                    >
                  </a>
                </span>
                <span class="pbmit-meta pbmit-meta-author">
                  <i class="pbmit-base-icon-user-3"></i>by
                  <a class="pbmit-author-link" routerLink="/blog-details"
                    >ضابط</a
                  >
                </span>
                <span
                  class="pbmit-meta pbmit-meta-comments pbmit-comment-bigger-than-zero"
                >
                  <i class="pbmit-base-icon-chat-3"></i>3 تعليقات
                </span>
              </div>
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details"
                  >اضطراب الخلايا والليزر يضيء الوراثة</a
                >
              </h3>
              <div class="pbmit-entry-content">
                <div class="pbmit-firstletter-blog">
                  <p>
                    يعد مستقبلي الطبي أحد أفضل الموارد عبر الإنترنت للتعرف على
                    التكنولوجيا في المجال الطبي.هناك شكوك في كل منشور من الطبيب
                    الطبي والعازف الوراثي Mesko ، وهي مدونة تغطي تقنيات جديدة
                    تستهدف العديد من التخصصات.اذا ركضت…
                  </p>
                </div>
                <a class="pbmit-btn" routerLink="/blog-details">
                  <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-icon pbmit-align-icon-right">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.76"
                        height="22.76"
                        viewBox="0 0 22.76 22.76"
                      >
                        <title>black-arrow</title>
                        <path
                          d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1,1,22.34"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                      </svg>
                    </span>
                    <span class="pbmit-button-text">اقرأ أكثر</span>
                  </span>
                </a>
              </div>
            </div>
          </article>
          <article class="post blog-classic">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <a routerLink="/blog-details">
                  <img
                    src="/assets/images/blog/blog-06b.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <span class="pbmit-meta pbmit-meta-cat">
                <a routerLink="/blog-classic" rel="category tag">دكتورجراح</a>
              </span>
            </div>
            <div class="pbmit-blog-classic-inner">
              <div class="pbmit-blog-meta pbmit-blog-meta-top">
                <span class="pbmit-meta pbmit-meta-date">
                  <i class="pbmit-base-icon-calendar-3"></i>
                  <a routerLink="/blog-details" rel="bookmark">
                    <time
                      class="entry-date published"
                      datetime="2023-08-29T09:05:54+00:00"
                      >أغسطس 29, 2023</time
                    >
                    <time
                      class="updated pbmit-hide"
                      datetime="2023-10-19T05:42:54+00:00"
                      >اكتوبر 19, 2023</time
                    >
                  </a>
                </span>
                <span class="pbmit-meta pbmit-meta-author">
                  <i class="pbmit-base-icon-user-3"></i>بواسطة
                  <a class="pbmit-author-link" routerLink="/blog-details"
                    >مسئول</a
                  >
                </span>
                <span
                  class="pbmit-meta pbmit-meta-comments pbmit-comment-bigger-than-zero"
                >
                  <i class="pbmit-base-icon-chat-3"></i>3 تعليقات
                </span>
              </div>
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details"
                  >افعل ولا تفعل أو الاحتياطات بعد جراحة الساد</a
                >
              </h3>
              <div class="pbmit-entry-content">
                <div class="pbmit-firstletter-blog">
                  <p>
                    يعد مستقبلي الطبي أحد أفضل الموارد عبر الإنترنت للتعرف على
                    التكنولوجيا في الطبية جسم كروي.هناك شكوك في كل منشور من
                    الطبيب الطبي والعازف الوراثي ، والطبي ، وهي مدونة تغطي
                    تقنيات جديدة تستهدف العديد من التخصصات.اذا ركضت…
                  </p>
                </div>
                <a class="pbmit-btn" routerLink="/blog-details">
                  <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-icon pbmit-align-icon-right">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.76"
                        height="22.76"
                        viewBox="0 0 22.76 22.76"
                      >
                        <title>black-arrow</title>
                        <path
                          d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1,1,22.34"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                      </svg>
                    </span>
                    <span class="pbmit-button-text">اقرأ أكثر</span>
                  </span>
                </a>
              </div>
            </div>
          </article>
          <article class="post blog-classic">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <a routerLink="/blog-details">
                  <img
                    src="/assets/images/blog/blog-07b.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <span class="pbmit-meta pbmit-meta-cat">
                <a routerLink="/blog-classic" rel="category tag">طبيب القلب</a>
              </span>
            </div>
            <div class="pbmit-blog-classic-inner">
              <div class="pbmit-blog-meta pbmit-blog-meta-top">
                <span class="pbmit-meta pbmit-meta-date">
                  <i class="pbmit-base-icon-calendar-3"></i>
                  <a routerLink="/blog-details" rel="bookmark">
                    <time
                      class="entry-date published"
                      datetime="2023-08-29T09:05:54+00:00"
                      >أغسطس 29, 2023</time
                    >
                    <time
                      class="updated pbmit-hide"
                      datetime="2023-10-19T05:42:54+00:00"
                      >اكتوبر 19, 2023</time
                    >
                  </a>
                </span>
                <span class="pbmit-meta pbmit-meta-author">
                  <i class="pbmit-base-icon-user-3"></i>بواسطة
                  <a class="pbmit-author-link" routerLink="/blog-details"
                    >مسؤل</a
                  >
                </span>
                <span
                  class="pbmit-meta pbmit-meta-comments pbmit-comment-bigger-than-zero"
                >
                  <i class="pbmit-base-icon-chat-3"></i>3 تعليقات
                </span>
              </div>
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details"
                  >طب الأسنان أو الزرع.ما هو الخيار الأفضل؟</a
                >
              </h3>
              <div class="pbmit-entry-content">
                <div class="pbmit-firstletter-blog">
                  <p>
                    يعد مستقبلي الطبي أحد أفضل الموارد عبر الإنترنت للتعرف على
                    التكنولوجيا في المجال الطبي.هناك شكوك في كل منشور من الطبيب
                    الطبي والعازف الوراثي Mesko ، وهي مدونة تغطي تقنيات جديدة
                    تستهدف العديد من التخصصات.اذا ركضت…
                  </p>
                </div>
                <a class="pbmit-btn" routerLink="/blog-details">
                  <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-icon pbmit-align-icon-right">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.76"
                        height="22.76"
                        viewBox="0 0 22.76 22.76"
                      >
                        <title>black-arrow</title>
                        <path
                          d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1,1,22.34"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                      </svg>
                    </span>
                    <span class="pbmit-button-text">اقرأ أكثر</span>
                  </span>
                </a>
              </div>
            </div>
          </article>
          <article class="post blog-classic">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <a routerLink="/blog-details">
                  <img
                    src="/assets/images/blog/blog-08b.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <span class="pbmit-meta pbmit-meta-cat">
                <a routerLink="/blog-classic" rel="category tag"
                  >طبيب الأعصاب</a
                >
              </span>
            </div>
            <div class="pbmit-blog-classic-inner">
              <div class="pbmit-blog-meta pbmit-blog-meta-top">
                <span class="pbmit-meta pbmit-meta-date">
                  <i class="pbmit-base-icon-calendar-3"></i>
                  <a routerLink="/blog-details" rel="bookmark">
                    <time
                      class="entry-date published"
                      datetime="2023-08-29T09:05:54+00:00"
                      >أغسطس 29, 2023</time
                    >
                    <time
                      class="updated pbmit-hide"
                      datetime="2023-10-19T05:42:54+00:00"
                      >اكتوبر 19, 2023</time
                    >
                  </a>
                </span>
                <span class="pbmit-meta pbmit-meta-author">
                  <i class="pbmit-base-icon-user-3"></i>بواسطة
                  <a class="pbmit-author-link" routerLink="/blog-details"
                    >مسؤل</a
                  >
                </span>
                <span
                  class="pbmit-meta pbmit-meta-comments pbmit-comment-bigger-than-zero"
                >
                  <i class="pbmit-base-icon-chat-3"></i>3 تعليقات
                </span>
              </div>
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details"
                  >يجب قراءة دليل السلامة لموسم أنفلونزا الخنازير</a
                >
              </h3>
              <div class="pbmit-entry-content">
                <div class="pbmit-firstletter-blog">
                  <p>
                    يعد مستقبلي الطبي أحد أفضل الموارد عبر الإنترنت للتعرف على
                    التكنولوجيا في المجال الطبي.هناك شكوك في كل منشور من الطبيب
                    الطبي والعازف الوراثي ، وهي مدونة تغطي تقنيات جديدة تستهدف
                    العديد من التخصصات.اذا ركضت…
                  </p>
                </div>
                <a class="pbmit-btn" routerLink="/blog-details">
                  <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-icon pbmit-align-icon-right">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.76"
                        height="22.76"
                        viewBox="0 0 22.76 22.76"
                      >
                        <title>black-arrow</title>
                        <path
                          d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1,1,22.34"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                      </svg>
                    </span>
                    <span class="pbmit-button-text">اقرأ أكثر</span>
                  </span>
                </a>
              </div>
            </div>
          </article>
          <article class="post blog-classic">
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <a routerLink="/blog-details">
                  <img
                    src="/assets/images/blog/blog-09b.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <span class="pbmit-meta pbmit-meta-cat">
                <a routerLink="/blog-classic" rel="category tag">دكتور جراح</a>
              </span>
            </div>
            <div class="pbmit-blog-classic-inner">
              <div class="pbmit-blog-meta pbmit-blog-meta-top">
                <span class="pbmit-meta pbmit-meta-date">
                  <i class="pbmit-base-icon-calendar-3"></i>
                  <a routerLink="/blog-details" rel="bookmark">
                    <time
                      class="entry-date published"
                      datetime="2023-08-29T09:05:54+00:00"
                      >يوليو 17, 2023</time
                    >
                    <time
                      class="updated pbmit-hide"
                      datetime="2023-10-19T05:42:54+00:00"
                      >اكتوبر 19, 2023</time
                    >
                  </a>
                </span>
                <span class="pbmit-meta pbmit-meta-author">
                  <i class="pbmit-base-icon-user-3"></i>by
                  <a class="pbmit-author-link" routerLink="/blog-details"
                    >مسؤل</a
                  >
                </span>
                <span
                  class="pbmit-meta pbmit-meta-comments pbmit-comment-bigger-than-zero"
                >
                  <i class="pbmit-base-icon-chat-3"></i>3 تعليقات
                </span>
              </div>
              <h3 class="pbmit-post-title">
                <a routerLink="/blog-details"
                  >تناول الالتهاب الرئوي الفيروسي مع ARDS الشديد ، CKD</a
                >
              </h3>
              <div class="pbmit-entry-content">
                <div class="pbmit-firstletter-blog">
                  <p>
                    يعد مستقبلي الطبي أحد أفضل الموارد عبر الإنترنت للتعرف على
                    التكنولوجيا في المجال الطبي.هناك شكوك في كل منشور من الطبيب
                    الطبي والعازف الوراثي Mesko ، وهي مدونة تغطي تقنيات جديدة
                    تستهدف العديد من التخصصات.اذا ركضت…
                  </p>
                </div>
                <a class="pbmit-btn" routerLink="/blog-details">
                  <span class="pbmit-button-content-wrapper">
                    <span class="pbmit-button-icon pbmit-align-icon-right">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22.76"
                        height="22.76"
                        viewBox="0 0 22.76 22.76"
                      >
                        <title>black-arrow</title>
                        <path
                          d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                        <path
                          d="M22.34,1,1,22.34"
                          transform="translate(-0.29 -0.29)"
                          fill="none"
                          stroke="#000"
                          stroke-width="2"
                        ></path>
                      </svg>
                    </span>
                    <span class="pbmit-button-text">اقرأ أكثر</span>
                  </span>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>

      <app-blog-sidebar></app-blog-sidebar>
    </div>
  </div>
</section>
<!-- Blog Classic End -->
