<app-title-bar
  title="شبكة قابلة للفرز، عمود 4"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
></app-title-bar>

<section class="section-lgx pbmit-sortable-yes">
  <div class="container">
    <div class="pbmit-sortable-list">
      <ul class="pbmit-sortable-list-ul">
        <li><a href="#" class="pbmit-sortable-link pbmit-selected" data-sortby="*">الجميع</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="health">صحة</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="osteopaths">عظام</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="pharmacy">نفسية</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="research">بحث</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="surgeon">دكتور جراح</a></li>
        <li><a href="#" class="pbmit-sortable-link" data-sortby="treatments">العلاجات</a></li>
      </ul>
    </div>
    <div class="pbmit-element-posts-wrapper row multi-columns-row">
      <article class="pbmit-portfolio-style-1 col-md-6 health">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-01.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">صحة</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">جراح جراحة الأعصاب</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 col-md-6 osteopaths">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-02.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">عظمية</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">تمدد الأوعية الدموية في البطن</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 col-md-6 pharmacy">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-03.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">مقابل</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">فوق البطيني</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 col-md-6 research">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-04.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">بحث</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">أمراض القلب</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 col-md-6 surgeon">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-05.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">دكتور جراح</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">اخصائي اطفال جراحة</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 col-md-6 treatments">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-06.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">العلاجات</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">القلب المحتقن</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
