<app-title-bar
  title="شبكة العمود-2"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
></app-title-bar>

<section class="section-lgx">
  <div class="container">
    <div class="row pbmit-element-posts-wrapper">
      <article class="pbmit-portfolio-style-1 col-md-6">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-01.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">صحة</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">جراح جراحة الأعصاب</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 col-md-6">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-02.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">عظام</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">تمدد الأوعية الدموية في البطن</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 col-md-6">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-03.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">القلب</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">فوق البطيني</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 col-md-6">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-04.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">القلب</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">أمراض القلب</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 col-md-6">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-05.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">دكتور جراح</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">جراحة الأطفال</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
      <article class="pbmit-portfolio-style-1 col-md-6">
        <div class="pbminfotech-post-content">
          <div class="pbmit-featured-img-wrapper">
            <div class="pbmit-featured-wrapper">
              <img src="/assets/images/project/project-img-06.jpg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-titlebox">
              <div class="pbmit-port-cat">
                <a routerLink="/portfolio-grid-col-3" rel="tag">العلاجات</a></div>
              <h3 class="pbmit-portfolio-title">
                <a routerLink="departments/details">القلب المحتقن</a>
              </h3>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
