<app-title-bar
  title="الأردن بيل"
  imgSrc="/assets/images/bg/titlebar-bg-img.jpg"
  [subtitle]="[' أعضاء الفريق ']"
></app-title-bar>

<!-- Team Single Detail -->
<section class="pbmit-team-single pbmit-sticky-section">
  <div class="container">
    <div class="pbmit-team-single-info">
      <div class="row">
        <div class="col-md-12 col-xl-3">
          <div class="pbmit-sticky-col">
            <div class="pbmit-team-left-inner">
              <div class="pbmit-featured-wrapper">
                <img
                  src="/assets/images/team/team-det-01.jpg"
                  class="img-fluid w-100"
                  alt=""
                />
              </div>
              <div class="pbmit-team-detail">
                <div class="pbmit-team-detail-inner">
                  <div class="pbmit-team-summary">
                    <h4 class="pbmit-team-designation">طبيب القلب</h4>
                    <h2 class="pbmit-team-title">الأردن بيل</h2>
                  </div>
                  <ul class="pbmit-single-team-info">
                    <li><label>رقم التليفون :</label> + (123) 1800-567-8990</li>
                    <li>
                      <label>عنوان البريد الإلكتروني :</label>
                      <a href="mailto:noreply@pbmit.com"
                        >noreply&#64;pbmit.com</a
                      >
                    </li>
                    <li><label>خبرة</label> 12 سنة</li>
                  </ul>
                </div>
                <div class="pbmit-team-share-btn">
                  <div class="pbmit-share-icon-wrapper">
                    <span class="pbmit-share-icon">
                      <i class="pbmit-base-icon-share-2"></i>
                    </span>
                    <ul class="pbmit-social-links pbmit-team-social-links">
                      <li class="pbmit-social-li pbmit-social-facebook">
                        <a href="#" title="Facebook" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-facebook-f"></i
                          ></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-twitter">
                        <a href="#" title="Twitter" target="_blank">
                          <span><i class="pbmit-base-icon-twitter-2"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-instagram">
                        <a href="#" title="Instagram" target="_blank">
                          <span><i class="pbmit-base-icon-instagram"></i></span>
                        </a>
                      </li>
                      <li class="pbmit-social-li pbmit-social-youtube">
                        <a href="#" title="Youtube" target="_blank">
                          <span
                            ><i class="pbmit-base-icon-youtube-play"></i
                          ></span>
                        </a>
                      </li>
                    </ul>
                    <div class="pbmit-sticky-corner pbmit-bottom-left-corner">
                      <svg
                        width="30"
                        height="30"
                        viewBox="0 0 30 30"
                        fill=""
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M30 30V0C30 16 16 30 0 30H30Z"
                          fill="red"
                        ></path>
                      </svg>
                    </div>
                    <div class="pbmit-sticky-corner pbmit-top-right-corner">
                      <svg
                        width="30"
                        height="30"
                        viewBox="0 0 30 30"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M30 30V0C30 16 16 30 0 30H30Z"
                          fill="red"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xl-9">
          <div class="pbmit-entry-content">
            <div class="pbmit-heading animation-style2">
              <h3 class="pbmit-title1 mb-3">معلومات شخصية</h3>
            </div>
            <p class="pbmit-firstletter">
              إليك موقف يأتي لكثير من الناس: أنت تتحرك في وقت لاحق من
              الحياة.بالنسبة لمعظم كبار السن ، فإن إنشاء علاقة عمل جيدة مع طبيب
              جديد يمثل تحديًا.إذا لم يكن هناك شيء آخر ، فقد يستغرق الأمر بعض
              الوقت ليشعر أن كل حزب يعرف ويفهم الآخر.ويتركون الأمر للأطباء الجدد
              لطلب معلومات صحية من الأطباء السابقين ، والتي تصل غالبًا بعد زيارة
              المريض الجديدة الأولى.في هذا المنشور ، سأشارك قائمة المعلومات
              الصحية الأكثر فائدة
            </p>
            <p>
              ملف تعريف الطبيب هو تسويق شخصي فعال يستخدمه الأطباء لعرض التخصص
              والمؤهلات والخبرات.يعد إنشاء ملف تعريف مفيد للأطباء لأنه يضمن أن
              يعرف الآخرون من حولهم خلفيتهم
            </p>
            <div class="text-editor-box">
              <div class="d-flex">
                <div class="col-md-4">
                  <h6>محدد التخصص :</h6>
                </div>
                <div class="col-md-8">
                  <p>جراح القلب</p>
                </div>
              </div>
            </div>
            <div class="text-editor-box">
              <div class="d-flex">
                <div class="col-md-4">
                  <h6>درجةrees :</h6>
                </div>
                <div class="col-md-8">
                  <p>جامعة الملك فهد في المملكة العربية السعودية</p>
                </div>
              </div>
            </div>
            <div class="text-editor-box">
              <div class="d-flex">
                <div class="col-md-4">
                  <h6>تجربة :</h6>
                </div>
                <div class="col-md-8">
                  <p>7 سنوات ، رعاية طبية عاجلة في نيويورك تخدم كاليفورنيا</p>
                </div>
              </div>
            </div>
            <div class="counter-box">
              <div class="row g-0">
                <div class="col-md-8 pbmit-col_1">
                  <div class="pbmit-left_col">
                    <div class="pbmit-heading animation-style2">
                      <h3 class="pbmit-title1 mb-3">مهارات محترفة</h3>
                    </div>
                    <p>
                      إن ظهور الطب الدقيق يقترب من رعاية صحية أكثر دقة وقوية
                      مخصصة للمريض الفردي.
                    </p>
                    <div class="row g-0">
                      <div class="col-md-4">
                        <div class="pbminfotech-ele-fid-style-4">
                          <div class="pbmit-fld-contents">
                            <div
                              class="pbmit-circle-outer"
                              data-digit="95"
                              data-fill="#3368c6"
                              data-emptyfill="#f0f7fd"
                              data-before=""
                              data-after="<sup>%</sup>"
                              data-thickness="3"
                              data-size="150"
                            >
                              <div class="pbmit-circle">
                                <div class="pbmit-fid-inner">
                                  <span class="pbmit-fid"></span>
                                  <span
                                    class="pbmit-number-rotate numinate"
                                    data-appear-animation="animateDigits"
                                    data-from="0"
                                    data-to="95"
                                    data-interval="5"
                                    data-before=""
                                    data-before-style=""
                                    data-after=""
                                    data-after-style=""
                                    >95</span
                                  >
                                  <span class="pbmit-fid"><sup>%</sup></span>
                                </div>
                              </div>
                            </div>
                            <div class="pbmit-fid-sub">
                              <h3 class="pbmit-fid-title">
                                النجاح كامل <br />جراحة
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="pbminfotech-ele-fid-style-4">
                          <div class="pbmit-fld-contents">
                            <div
                              class="pbmit-circle-outer"
                              data-digit="90"
                              data-fill="#3368c6"
                              data-emptyfill="#f0f7fd"
                              data-before=""
                              data-after="<sup>%</sup>"
                              data-thickness="3"
                              data-size="150"
                            >
                              <div class="pbmit-circle">
                                <div class="pbmit-fid-inner">
                                  <span class="pbmit-fid"></span>
                                  <span
                                    class="pbmit-number-rotate numinate"
                                    data-appear-animation="animateDigits"
                                    data-from="0"
                                    data-to="90"
                                    data-interval="5"
                                    data-before=""
                                    data-before-style=""
                                    data-after=""
                                    data-after-style=""
                                    >90</span
                                  >
                                  <span class="pbmit-fid"><sup>%</sup></span>
                                </div>
                              </div>
                            </div>
                            <div class="pbmit-fid-sub">
                              <h3 class="pbmit-fid-title">راضي <br />مريض</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="pbminfotech-ele-fid-style-4">
                          <div class="pbmit-fld-contents">
                            <div
                              class="pbmit-circle-outer"
                              data-digit="85"
                              data-fill="#3368c6"
                              data-emptyfill="#f0f7fd"
                              data-before=""
                              data-after="<sup>%</sup>"
                              data-thickness="3"
                              data-size="150"
                            >
                              <div class="pbmit-circle">
                                <div class="pbmit-fid-inner">
                                  <span class="pbmit-fid"></span>
                                  <span
                                    class="pbmit-number-rotate numinate"
                                    data-appear-animation="animateDigits"
                                    data-from="0"
                                    data-to="85"
                                    data-interval="5"
                                    data-before=""
                                    data-before-style=""
                                    data-after=""
                                    data-after-style=""
                                    >85</span
                                  >
                                  <span class="pbmit-fid"><sup>%</sup></span>
                                </div>
                              </div>
                            </div>
                            <div class="pbmit-fid-sub">
                              <h3 class="pbmit-fid-title">عدوى <br />وقاية</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pbmit-col_2">
                  <div class="pbmit-heading animation-style2">
                    <h3 class="pbmit-title1 mb-3">جائزة وتكريم</h3>
                  </div>
                  <p>
                    المهنيون الصحيون مجموعة واسعة من الأدوات لتشخيص وعلاج مرض أو
                    حالة أخرى ، لمنع تفاقم الأعراض
                  </p>
                  <div class="pbmit-ihbox-style-2">
                    <div class="pbmit-ihbox-headingicon">
                      <div class="pbmit-title-wrap">
                        <h4 class="pbmit-element-heading">2018 - 2019 :</h4>
                        <h2 class="pbmit-element-title">جائزة وليام آلان</h2>
                      </div>
                      <div class="pbmit-heading-desc">
                        الحصول على مساعدة طبية على الفور لشخص يعاني من حالة
                        طوارئ طبية
                      </div>
                    </div>
                  </div>
                  <div class="pbmit-ihbox-style-2">
                    <div class="pbmit-ihbox-headingicon">
                      <div class="pbmit-title-wrap">
                        <h4 class="pbmit-element-heading">2020 - 2022 :</h4>
                        <h2 class="pbmit-element-title">
                          بيسيت هوكينز ميدالية
                        </h2>
                      </div>
                      <div class="pbmit-heading-desc">
                        معلومات مكافحة العدوى وموارد الرعاية الحادة ، غسيل الكلى
                        ، رعاية طويلة الأجل ، إلخ ...
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment-respond">
              <div class="pbmit-heading animation-style2">
                <h3 class="pbmit-title1 mb-3">ارسل رسالة</h3>
              </div>
              <div class="comment-form">
                <form
                  [formGroup]="sendMessageForm"
                  (ngSubmit)="onSubmit(sendMessageForm.value)"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <input
                        id="name"
                        type="text"
                        placeholder="الأسم *"
                        class="form-control"
                        formControlName="name"
                        data-error="الاسم  مطلوب"
                        name="name"
                      />
                    </div>
                    <div class="col-md-6">
                      <input
                        id="email"
                        class="form-control"
                        placeholder="البريد الالكتروني *  *"
                        name="email"
                        type="email"
                        formControlName="email"
                      />
                    </div>
                    <div class="col-md-6">
                      <input
                        class="form-control"
                        placeholder="رقم الهاتف *"
                        name="phone-number"
                        type="number"
                        formControlName="mobile"
                      />
                    </div>
                    <div class="col-md-6">
                      <input
                        class="form-control"
                        placeholder="الموضوع"
                        name="subject"
                        formControlName="subject"
                        type="text"
                      />
                    </div>
                    <div class="col-md-12">
                      <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        placeholder="الرسالة"
                        formControlName="message"
                        rows="3"
                      ></textarea>
                    </div>
                    <div class="col-md-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" />
                        <label class="form-check-label">
                          احفظ اسمي والبريد الإلكتروني وموقع الويب في هذا
                          المتصفح في المرة القادمة التي أعلق فيها.
                        </label>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button
                        class="pbmit-btn"
                        [disabled]="sendMessageForm.invalid"
                      >
                        <span class="pbmit-button-content-wrapper">
                          <span
                            class="pbmit-button-icon pbmit-align-icon-right"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="22.76"
                              height="22.76"
                              viewBox="0 0 22.76 22.76"
                            >
                              <title>black-arrow</title>
                              <path
                                d="M22.34,1A14.67,14.67,0,0,1,12,5.3,14.6,14.6,0,0,1,6.08,4.06,14.68,14.68,0,0,1,1.59,1"
                                transform="translate(-0.29 -0.29)"
                                fill="none"
                                stroke="#000"
                                stroke-width="2"
                              ></path>
                              <path
                                d="M22.34,1a14.67,14.67,0,0,0,0,20.75"
                                transform="translate(-0.29 -0.29)"
                                fill="none"
                                stroke="#000"
                                stroke-width="2"
                              ></path>
                              <path
                                d="M22.34,1,1,22.34"
                                transform="translate(-0.29 -0.29)"
                                fill="none"
                                stroke="#000"
                                stroke-width="2"
                              ></path>
                            </svg>
                          </span>
                          <span class="pbmit-button-text">أرسل الآن</span>
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Single Detail end -->
