/* You can add global styles to this file, and also import other style files */
/* Bootstrap CSS */
@import url("./assets/css/bootstrap.min.css");
/* Fontawesome */
@import url("./assets/css/fontawesome.css");
/* Flaticon */
@import url("./assets/css/flaticon.css");
/* Base Icons */
@import url("./assets/css/pbminfotech-base-icons.css");
/* Themify Icons */
@import url("./assets/css/themify-icons.css");
/* Slick */
@import url("./assets/css/swiper.min.css");
/* Magnific */
@import url("./assets/css/magnific-popup.css");
/* AOS */
@import url("./assets/css/aos.css");
/* Shortcode CSS */

/* @import url("./assets/css/shortcode.css"); */

@import url("./assets/css/shortcode-rtl.css");
/* Base CSS */
/* @import url("./assets/css/base.css"); */
@import url("./assets/css/base-rtl.css");

/* Style CSS */
/* @import url("./assets/css/style.css");*/
@import url("./assets/css/style-rtl.css");
/* Responsive CSS */

/* @import url("./assets/css/responsive.css"); */
@import url("./assets/css/responsive-rtl.css");

@import url("./assets/css/demo-1.css");



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
