  <div class="pbmit-menu-wrap">
									<span class="closepanel">
										<svg class="qodef-svg--close qodef-m" xmlns="http://www.w3.org/2000/svg" width="20.163" height="20.163" viewBox="0 0 26.163 26.163">
											<rect width="36" height="1" transform="translate(0.707) rotate(45)"></rect>
											<rect width="36" height="1" transform="translate(0 25.456) rotate(-45)"></rect>
										</svg>
									</span>
    <ul class="navigation clearfix">
      <li class="active">
        <a routerLink="/home"> {{ "MENU.HOME" | translate }}</a>
      </li>
      <li class="dropdown">
        <a href="#">{{ "MENU.PAGES" | translate }} </a>
        <ul>
          <li><a routerLink="/about-us">{{ "MENU.ABOUT US" | translate }}</a></li>
          <li><a routerLink="/our-history">{{ "MENU.OUR HISTORY" | translate }} </a></li>
          <li><a routerLink="classes">{{ "MENU.CLASSES" | translate }}</a></li>
          <li><a routerLink="our-team-member">{{ "MENU.OUR TEAM MEMBERS" | translate }}</a></li>
          <li><a routerLink="team-single-detail">{{ "MENU.TEAM SINGLE DETAILS" | translate }}</a></li>
          <li><a routerLink="make-appointments">{{ "MENU.MAKE AN APPOINTMENT" | translate }}</a></li>
          <li><a routerLink="faq">{{ "MENU.FAQ" | translate }}</a></li>
          <li>
            <a routerLink="/gallery">{{ "MENU.GALLERY" | translate }}</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">

        <a href="#">{{ "MENU.SERVICE" | translate }}</a>
        <ul>
          <li><a routerLink="/service-details">{{ "MENU.SINGLE DETAILS VIEW" | translate }}</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">{{ "MENU.PORTFOLIO" | translate }}</a>
        <ul>
          <li class="dropdown">
            <a href="#">{{ "MENU.MASONRY VIEW" | translate }}</a>
            <ul>
              <li>
                <a routerLink="/masonry-grid-col-4">{{ "MENU.MASONRY VIEW" | translate }}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">{{ "MENU.GRID VIEW" | translate }}</a>
            <ul>
              <li><a routerLink="/portfolio-grid-col-4">{{ "MENU.GRID VIEW" | translate }}</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">{{ "MENU.SORTABLE VIEW" | translate }}</a>
            <ul>
              <li>
                <a routerLink="/portfolio-sortable-grid-col-4"
                >{{ "MENU.SORTABLE VIEW" | translate }}</a
                >
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">{{ "MENU.SINGLE DETAILS VIEW" | translate }}</a>
            <ul>
              <li>
                <a routerLink="/single-detail-style-01"
                >{{ "MENU.SINGLE DETAILS VIEW" | translate }}</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">{{ "MENU.BLOG" | translate }}</a>
        <ul>
          <li class="dropdown">
            <a href="#">{{ "MENU.GRID VIEW" | translate }}</a>
            <ul>
              <li><a routerLink="/blog-grid-4">{{ "MENU.GRID VIEW" | translate }}</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">{{ "MENU.SORTABLE VIEW" | translate }}</a>
            <ul>
              <li>
                <a routerLink="/blog-sortable-col-4">{{ "MENU.SORTABLE VIEW" | translate }}</a>
              </li>
            </ul>
          </li>
          <li><a routerLink="/blog-classic">{{ "MENU.BLOG CLASSIC" | translate }}</a></li>
          <li><a routerLink="/blog-details">{{ "MENU.BLOG DETAILS" | translate }}</a></li>
        </ul>
      </li>
      <li><a routerLink="contact-us">{{ "MENU.CONTACT" | translate }}</a></li>
    </ul>
  </div>
